{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 

    <div class="row">
        <div class="col-md-10">
            <h1>Reporte de Inventario</h1>
        </div>
        <div class="col-md-1">
            <a href="{{ path('lavaseco_report_inventory_excel') }}" class="btn btn-success" style="margin-top: 20px;">
                Descargar
                <i class="fa fa-file-text" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table id="salePointTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Factura</th>
                        <th>Servicio</th>
                        <th>Candtidad</th>
                        <th>Observacion</th>
                        <th>Proceso</th>
                        <th>Estado</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for inventory in inventories%}
                        <tr>
                            <td>{{ inventory.factura }}</td>
                            <td>{{ inventory.servicio }}</td>
                            <td>{{ inventory.cantidad }}</td>
                            <td>{{ inventory.observacion }}</td>
                            <td>{{ inventory.proceso }}</td>
                            <td>{{ inventory.estado }}</td>
                            <td>{{ inventory.cliente}}</td>
                            <td>{{ inventory.fecha}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12" id="divTableTransactions">
            <h3 id="titleTransaction"></h3>
            <hr>
            <table id="tableTransactions" class="display" cellspacing="0" width="100%">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        $(document).ready(function () {
            var table = $("#salePointTable").DataTable();
        });

        $('#salePointTable tbody').on('click', 'tr', function () {
            $(".selected").toggleClass('selected');
            $(this).toggleClass('selected');
        });

    </script>
{% endblock %}