<style>
    body { padding-top: 70px; }
    
    .btn_log_out:hover{
        border: ridge;
        border-width: 2px;
        border-color: #2e6da4;
        padding-top: 10px !important; 
        padding-bottom: 10px !important;
        margin-top: 3px;
        margin-right: 0px;
    }

    .btn_log_in:hover{
        border: ridge;
        border-width: 2px;
        border-color: #5cb85c;
        padding-top: 10px !important; 
        padding-bottom: 10px !important;
        margin-top: 3px;
        margin-right: 0px;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("lavaseco_homepage") }}">
                <img alt="Brand"  height="50" width="97" src="{{ asset( "Logo/logo.png" ) }}" style="margin: -15px 5px;">
            </a>
{#            <a class="navbar-brand" href="{{ path("lavaseco_homepage") }}">
                <nav class="navbar navbar-default">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 
                Lavaseco Modelo
            </a>#}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.firstName }} {{ app.user.lastName }}</p></li>
                    {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if (is_granted('ROLE_CASHIER') and app.session.get('salePoint') != "-1") %} 
                        <li><a href="{{ path('lavaseco_sales') }}">Venta <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="{{ path('lavaseco_Bills') }}">Facturas <i class="fa fa-file-text" aria-hidden="true"></i></a></li>
                    {% endif %}
                    {% if (is_granted('ROLE_OPERATOR') and app.session.get('salePoint') != "-1")%} 
                        <li><a href="{{ path('lavaseco_orders') }}">Ordenes <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                    {% endif %}

                    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER'))%}
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <i class="fa fa-area-chart" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_MANAGER') %}
{#                                    <li><a href="{{ path('lavaseco_report_dashboard') }}">Dashboard</a></li>#}
                                    <li><a href="{{ path('lavaseco_report_cash_transaction') }}">Movimientos de Caja</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('lavaseco_report_daily_sale') }}">Venta Diaria</a></li>
{#                                    <li><a href="{{ path('lavaseco_setting_report_service_sale') }}">Ventas por Servicio</a></li>
                                    <li><a href="{{ path('lavaseco_setting_report_user_sale') }}">Ventas por Usuario</a></li>
#}                                    <li><a href="{{ path('lavaseco_report_sale_point') }}">Ventas por Punto Venta</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuración <i class="fa fa-wrench" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_MANAGER') %}
                                    <li><a href="{{ path('lavaseco_setting_bill_content') }}">Factura</a></li>
                                    <li><a href="{{ path('lavaseco_setting_sale_point') }}">Puntos de Venta</a></li>
                                    <li><a href="{{ path('lavaseco_setting_corporation') }}">Página Corporativa</a></li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}

                                <li><a href="{{ path('lavaseco_setting_descriptions') }}">Descriptores</a></li>
                                <li><a href="{{ path('lavaseco_setting_service_categories') }}">Categorias y Servicios</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('lavaseco_setting_customers') }}">Clientes</a></li>
                                {% if is_granted('ROLE_MANAGER') %}
                                    <li><a href="{{ path('lavaseco_setting_loyalty') }}">Fidelización</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <li><a href="{{ path('fos_user_security_logout') }}" class="btn_log_out">Cerrar sesión <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> </a></li>
                    {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}" class="btn_log_in">Iniciar sesión <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> </a></li>
                    {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
                    
{% if (is_granted("IS_AUTHENTICATED_REMEMBERED") and app.session.get('salePoint') == "-1")%} 
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> Dispositivo No Esta registrado Como Punto de Venta
    </div>
{% endif %}