<style>
    .btn_log_out:hover{
        border: ridge;
        border-width: 2px;
        border-color: #2e6da4;
        padding-top: 10px !important; 
        padding-bottom: 10px !important;
        margin-top: 3px;
        margin-right: 0px;
    }

    .btn_log_in:hover{
        border: ridge;
        border-width: 2px;
        border-color: #5cb85c;
        padding-top: 10px !important; 
        padding-bottom: 10px !important;
        margin-top: 3px;
        margin-right: 0px;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("lavaseco_homepage") }}"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Lavaseco Modelo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.firstName }} {{ app.user.lastName }}</p></li>
                    {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('lavaseco_sales') }}">Venta <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li><a href="{{ path('lavaseco_orders') }}">Ordenes <i class="fa fa-cubes" aria-hidden="true"></i></a></li>
                    <li><a href="{{ path('lavaseco_Bills') }}">Facturas <i class="fa fa-file-text" aria-hidden="true"></i></a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuración <i class="fa fa-wrench" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('lavaseco_settign_bill_content') }}">Factura</a></li>
                            <li><a href="{{ path('lavaseco_settign_sale_point') }}">Puntos de Venta</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('lavaseco_settign_descriptions') }}">Descriptores</a></li>
                            <li><a href="{{ path('lavaseco_settign_service_categories') }}">Categorias y Servicios</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('lavaseco_settign_users') }}">Clientes</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('fos_user_security_logout') }}" class="btn_log_out">Cerrar sesión <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> </a></li>
                    {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}" class="btn_log_in">Iniciar sesión <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> </a></li>
                    {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="margin-bottom: 55px;">
</div>