{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block body %} 
    <h1>Bienvenido {{ app.user.firstName }} {{ app.user.lastName }}</h1> 
    <p>
        Seleccione la opción de su preferencia    
    </p>
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            <br>
            <div id="blockOption" class="btn-group text-center" role="group">

            </div>
        </div>
    </div>    

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            var result = {"menu":
                        [
                            {
                                "name": "Venta",
                                "father": "",
                                "path": "{{ path('lavaseco_sales') }}"
                            },
                            {
                                "name": "Ordenes",
                                "father": "",
                                "path": "{{ path('lavaseco_orders') }}"
                            },
                            {
                                "name": "Facturas",
                                "father": "",
                                "path": "{{ path('lavaseco_Bills') }}"
                            },
                            {
                                "name": "Configuración",
                                "father": "",
                                "path": ""
                            }
                        ]
            };

            for (var i in result.menu) {
                itemMenu(result.menu[i]);
            }
        });

        function itemMenu(item) {
            var html = "<a href=\"" + item.path + "\">\
                            <div class=\"col-sm-6 col-md-4 service-itm\">\
                                <div class=\"thumbnail service\">\
                                    <img src=\"/serviceImg/servicio.jpg\" alt=\"img\" />\
                                    <h5 class=\"text-center\">" + item.name + "</h5>\
                                </div>\
                            </div>\
                        </a>";
            $("#blockOption").append(html);
        }
    </script>
{% endblock %}