{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 
    <h3 >Oredenes de servicios{% if processState is defined %} <span class="label label-default">{{ processState.name }}</span>{% endif %}</h3>
    <p>
        En esta pagina puedes ver las ordenes de los servicios y en el estado que se encuentra cada proceso.
    </p>
    <hr>
    <div class="row">
        <!--Productos por categoria-->
        <div class="col-md-9"> 
            <div class="well well-sm pull-right">
                <form class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input  id="seletedCheckbox" type="checkbox"> Seleccionar Varios
                        </label>
                    </div>
                    |
                    <div class="form-group">
                        <select id="processStateUpdate" class="form-control" onchange="updateUrl(this);">
                            <option value="0" selected>Todos los estados</option>
                            {% for processState in processStates%}
                                <option value="{{ processState.id }}">{{ processState.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    |
                    <button type="button" id="changeStateButton" class="btn btn-default" onclick="changeEstate();">Cambiar de estado</button>
                </form>                
            </div>

            <table id="billsTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Factura</th>
                        <th>Orden</th>
                        <th>Cliente</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th>Vendedor</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                        <tr>
                            <td>{{ bill.id }}</td>
                            <td>{{ bill.consecutive }}</td>
                            <td>{{ bill.customerUser.name | default("No se Registro Cliente")}}</td>
                            <td>{{ bill.customerUser.phoneNumber | default("No se Registro Cliente")}}</td>
                            <td>{{ bill.processState.name}}</td>
                            <td>{{ bill.sellerUser.name }}</td>
                            <td>{{ bill.CreatedAtString}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i> Tiket</h3>
                </div>
                <div class="panel-body">
                    <h3 id="orderTiket">Orden</h3>
                    <h5 id="billTiket">Factura</h5>

                    <h6 id="dateTiket">Fecha: YYYY/MM/DD</h6>
                    <h6 id="sellerTiket">Vendedor: XXXXXXXXXXXX</h6>
                    <h6 id="quantityTiket"><strong>Objetos Recividos: N</strong></h6>
                    <h6 id="priceTiket"><strong>Total: $XXXXX</strong></h6>
                    <strong id="customerTiket">Cliente: XXXXXXXXXXXX</strong><br>
                    <strong id="phoneNumberTiket">Numero Telefono: XXXXXXXXXXXX</strong><br>
                    <hr>
                    <p id="billDetailsTiket">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cabio de Estado</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Realizar cambio de estado para las siguientes Ordenes:<br>
                        <strong id="modalOrdersText"></strong>
                    </p>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Estado</label>
                            <div class="col-md-5">
                                <select class="form-control" id="newProcessStates">
                                    {% for processState in processStates%}
                                        <option value="{{ processState.id }}">{{ processState.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textarea">Observaciones</label>
                            <div class="col-md-5">                     
                                <textarea id="observationProccess" class="form-control" id="textarea" name="textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="saveChange();">Guradar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        var orderSelected = [[], []];

        $(document).ready(function () {
            var billsTable = $('#billsTable').DataTable({
                "order": [[1, "Desc"]]
            });

            $("#seletedCheckbox").change(function () {
                if (!this.checked) {
                    $(".selected").toggleClass('selected');
                }
            });

            $('#billsTable tbody').on('click', 'tr', function () {
                var data = billsTable.row(this).data();

                if (!$('#seletedCheckbox').is(":checked"))
                {
                    $(".selected").toggleClass('selected');
                    orderSelected[0] = [];
                    orderSelected[1] = [];
                }

                $(this).toggleClass('selected');

                getTiket(data[0]);

                orderSelected[0].push(data[0]);
                orderSelected[1].push(data[1]);

            });

            updateSelectUpdaateUrl();
        });

        function getTiket(billId) {
            $.ajax({
                url: "{{ path('lavaseco_api_orders_tikets') }}/" + billId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (tiket) {
                    drawTiket(tiket);
                }
            });
        }

        function drawTiket(tiket) {
            $("#orderTiket").html("Orden " + tiket.consecutive);
            $("#billTiket").html("Factura " + tiket.bill);
            $("#dateTiket").html("Fecha: " + tiket.createdAt);
            $("#sellerTiket").html("Vendedor: " + tiket.seller);
            $("#quantityTiket").html("<strong>Objetos Recividos: " + $.number(tiket.billDetail.quantity) + "</strong>");
            $("#priceTiket").html("<strong>Total: $" + $.number(tiket.billDetail.total) + "</strong>");
            $("#customerTiket").html("Cliente: " + tiket.customer);
            $("#phoneNumberTiket").html("Numero Telefono: " + tiket.phoneNumber);
            drawDetails(tiket.billDetail.details);
            $("#billDetailsTiket").append("<hr><strong>Observaciones: </strong>" + tiket.observation);
        }

        function drawDetails(billDetails) {
            $("#billDetailsTiket").empty();
            for (var i in billDetails) {
                var html = "<strong>" + billDetails[i].quantity + " x " + billDetails[i].serviceName + "</strong><br>";
                for (var j in billDetails[i].descriptors) {
                    html += billDetails[i].descriptors[j] + ", ";
                }
                html += "<strong>" + billDetails[i].observation + "</strong><br>";
                $("#billDetailsTiket").append(html);
            }
        }

        function changeEstate() {
            if (orderSelected.length === 0) {
                alert("Seleccione por lo menos una orden para cambiarle el estado.");
            } else {
                var html = "";
                for (var i in orderSelected [1]) {
                    html += orderSelected [1][i];
                    html += parseInt(i) + 1 === orderSelected[1].length ? "." : ", ";
                }

                $("#modalOrdersText").empty();
                $("#modalOrdersText").html(html);
                $("#changeModal").modal('toggle');
            }
        }

        function saveChange() {
            $.ajax({
                url: "{{ path("lavaseco_api_order_change_processState") }}",
                method: "POST",
                dataType: "json",
                data: {
                    "bills": orderSelected[0],
                    "processState": $("#newProcessStates").val(),
                    "observation": $("#observationProccess").val()
                },
                success: function (result) {
                    location.reload();
                }
            });
        }

        function updateUrl(processState) {
            if ($(processState).val() === "0") {
                window.location = "{{ path("lavaseco_orders") }}";
            } else {
                window.location = "{{ path("lavaseco_orders") }}/" + $(processState).val();
            }
        }

        function updateSelectUpdaateUrl() {
            var url = window.location.href;
            var urlArray = url.split("/");

            if (urlArray.length > 4) {
                $("#processStateUpdate").val(parseInt(urlArray[4]));
            }
        }

    </script>
{% endblock %}