{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 
    <h3 >Oredenes de servicios{% if processState is defined %} <span class="label label-default">{{ processState.name }}</span>{% endif %}</h3>
    <p>
        En esta pagina puedes ver las ordenes de los servicios y en el estado que se encuentra cada proceso.
    </p>
    <hr>
    <div class="row">
        <!--Productos por categoria-->
        <div class="col-md-9"> 
            <div class="well well-sm pull-right">
                <form class="form-inline">
                    <span id="buttonGroupPayBill"></span>
                    |
                    <button type="button" id="changeStateButton" class="btn btn-success" onclick="changeEstate();">Cambiar de estado</button>
                    |
                    <div class="checkbox">
                        <label>
                            <input  id="seletedCheckbox" type="checkbox"> Seleccionar Varios
                        </label>
                    </div>
                    |
                    <div class="form-group">
                        <label>
                            Filtrar por
                        </label>
                        <select id="processStateUpdate" class="form-control" onchange="updateUrl(this);">
                            <option value="0" selected>Todos los estados</option>
                            {% for processState in processStates%}
                                <option value="{{ processState.id }}">{{ processState.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>                
            </div>

            <table id="billsTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Factura</th>
                        <th>Cliente</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th>Vendedor</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                        <tr>
                            <td>{{ bill.id }}</td>
                            <td>{{ bill.salePoint.id }}-{{ bill.id }}</td>
                            <td>{{ bill.customer.name | default("No se Registro Cliente")}}</td>
                            <td>{{ bill.customer.phoneNumber | default("No se Registro telefono")}}</td>
                            <td>{{ bill.processState.name}}</td>
                            <td>{{ bill.sellerUser.name }}</td>
                            <td>{{ bill.CreatedAtString}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i> Ticket</h3>
                </div>
                <div class="panel-body">
                    <h3 id="billTiket">Factura</h3>
                    
                    <h5 id="dateTiket">Fecha: YYYY/MM/DD</h5>
                    <h5 id="sellerTiket">Vendedor: XXXXXXXXXXXX</h5>
                    <h5 id="quantityTiket"><strong>Objetos Recibidos: N</strong></h5>
                    <h5 id="priceTiket"><strong>Total: $XXXXX</strong></h5>
                    <strong id="customerTiket">Cliente: XXXXXXXXXXXX</strong><br>
                    <strong id="phoneNumberTiket">Numero Telefono: XXXXXXXXXXXX</strong><br>
                    <hr>
                    <p id="billDetailsTiket">
                    </p>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="printBill();">Imprimir Ticket</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cambio de Estado</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Realizar cambio de estado para las siguientes Facturas:<br>
                        <strong id="modalOrdersText"></strong>
                    </p>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Estado</label>
                            <div class="col-md-5">
                                <select class="form-control" id="newProcessStates">
                                    {% for processState in processStates%}
                                        <option value="{{ processState.id }}">{{ processState.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textarea">Observaciones</label>
                            <div class="col-md-5">                     
                                <textarea id="observationProccess" class="form-control" id="textarea" name="textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="saveChange();">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Forma de Pago-->
    <div id="modalPayInvoice" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <label id="paymentTittle">Pago de Factura</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <p>Acuerdo de Pago</p>
                                <div class="input-group" id="specificWayPay">
                                    <select id="selectPaymentAgreement" onChange="" class="form-control">
                                        <option value="1" selected="selected" data-name="Totalidad">Pagar Total</option>
                                        <option value="3" data-name="Abono">Abonar</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group">
                                <p>Forma de Pago</p>
                                <div class="input-group" id="specificWayPay">
                                    <select id="selectWayToPay" onChange="" class="form-control">
                                        <option selected="selected" value="1" data-name="Efectivo">Efectivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr>

                            <div class="form-group">
                                <div id="divTotalBill">
                                    <p class='text-right'>
                                        <strong>Total Factura: $ 
                                            <span id="lblTotalBill"></span>
                                        </strong>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <p>Dinero Recibido<span class="req">*</span></p>
                                <div class="input-group" id="divCashReceived">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-usd"></i></span>
                                    <input class="form-control" id="cashReceived" type="text" autocomplete="off" onkeyup="updateChange();"/>
                                </div>
                            </div>

                            <div id="divChange" class="form-group">
                                <p>Vueltas</p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-usd"></i></span>
                                    <input class="form-control" id="change" type="text" autocomplete="off" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  onclick="paymentInvoice();" class="btn btn-success"/>Cobrar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
                                    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        var billTicketId = 0;
        var orderSelected = [[], []];
        $(document).ready(function () {
            var billsTable = $('#billsTable').DataTable({
                "order": [[0, "Desc"]]
            });

            $("#seletedCheckbox").change(function () {
                if (!this.checked) {
                    $(".selected").toggleClass('selected');
                    drawBtnPayInvoice(true);
                }
                drawBtnPayInvoice(true);
            });

            $('#billsTable tbody').on('click', 'tr', function () {
                var data = billsTable.row(this).data();

                if (!$('#seletedCheckbox').is(":checked"))
                {
                    $(".selected").toggleClass('selected');
                    orderSelected[0] = [];
                    orderSelected[1] = [];
                    drawBtnPayInvoice(false, data[0]);
                }
                
                if(!$('#seletedCheckbox').is(":checked")){
                    
                }
                
                $(this).toggleClass('selected');

                getTiket(data[0]);
                orderSelected[0].push(data[0]);
                orderSelected[1].push(data[1]);
            });

            updateSelectUpdaateUrl();
        });

        function getTiket(billId) {
            $.ajax({
                url: "{{ path('lavaseco_api_orders_tikets') }}/" + billId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (tiket) {
                    drawTiket(tiket);
                }
            });
        }

        function drawTiket(tiket) {
            {#            $("#orderTiket").html("Orden " + tiket.consecutive);#}
            $("#billTiket").html("Factura " + tiket.salePoint + "-" + tiket.bill);
            $("#dateTiket").html("Fecha: " + tiket.createdAt);
            $("#sellerTiket").html("Vendedor: " + tiket.seller);
            $("#quantityTiket").html("<strong>Objetos Recibidos: " + $.number(tiket.billDetail.quantity) + "</strong>");
            $("#priceTiket").html("<strong>Total: $" + $.number(tiket.billDetail.total) + "</strong>");
            $("#customerTiket").html("Cliente: " + tiket.customer);
            $("#phoneNumberTiket").html("Numero Telefono: " + tiket.phoneNumber);
            drawDetails(tiket.billDetail.details);
            $("#billDetailsTiket").append("<hr><strong>Observaciones: </strong>" + tiket.observation);
            billTicketId = tiket.bill;
        }

        function drawDetails(billDetails) {
            $("#billDetailsTiket").empty();
            for (var i in billDetails) {
                var html = "<strong>" + billDetails[i].quantity + " x " + billDetails[i].serviceName + "</strong><br>";
                for (var j in billDetails[i].descriptors) {
                    html += billDetails[i].descriptors[j] + ", ";
                }
                html += "<strong>" + billDetails[i].observation + "</strong><br>";
                $("#billDetailsTiket").append(html);
            }
        }
        
        function drawBtnPayInvoice(boolean, invoiceId){
            var html = "";
            
            if (boolean === false){
                html = "<button type=\"button\" id=\"btnPayBill\" class=\"btn btn-info\" onclick=\"payInvoice("+ invoiceId +");\">Pagar Factura</button>"
            }
            $("#buttonGroupPayBill").html(html);
        }
        
        function payInvoice(invoiceId) { 
            $.ajax({
                url: "{{ path('lavaseco_api_orders_tikets') }}/" + invoiceId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    $('#paymentTittle').text('Pago de la factura No. '+ data.salePoint + "-" + data.bill);
                    $('#lblTotalBill').html("<strong>"+ data.billDetail.total + "</strong>");
                    $('#modalPayInvoice').modal('show');
                },
                error: function (){
                    openModalAlerErrorSuccess("Error", "Error al cargar la factura");
                }            
            });           
        }
        
        function paymentInvoice(){
            if (updateChange()) {
                alert("pago la factura desde ordenes");
            } else {
                openModalAlerErrorSuccess("Error", "Verifique el dinero dado por el cliente");
            }
        }
        
        function updateChange() {
            var paymentAgreement = $('#selectPaymentAgreement').val();
            console.log($('#lblTotalBill').text());
            console.log ("medotdo de pago" + paymentAgreement)
            
            if (paymentAgreement !== "3") {//3 es el id del metodo de abono
                var change = $("#cashReceived").val() - $('#lblTotalBill').text();
                var vMissingMoney = $('#lblTotalBill').text() - $("#cashReceived").val();
                
                if (change < 0) {
                    $("#change").val('');
                    $("#missingMoney").val(vMissingMoney);
                    $("#divCashReceived").removeClass("has-success");
                    $("#divCashReceived").addClass("has-error");
                    return false;
                } else {
                    $("#change").val(change);
                    $("#missingMoney").val('');
                    $("#divCashReceived").addClass("has-success");
                    $("#divCashReceived").removeClass("has-error");
                    return true;
                }
            } else {
                if (parseInt($("#cashReceived").val()) > ($('#lblTotalBill').text())) {
                    $("#change").val('');
                    $("#missingMoney").val('');
                    $("#divCashReceived").removeClass("has-success");
                    $("#divCashReceived").addClass("has-error");
                    return false;
                } else {
                    $("#change").val(0);
                    $("#missingMoney").val(vMissingMoney);
                    $("#divCashReceived").addClass("has-success");
                    $("#divCashReceived").removeClass("has-error");
                    return true;
                }
            }
        }

        function changeEstate() {
            if (orderSelected [1].length === 0) {
                openModalAlerErrorSuccess("Alerta","Seleccione por lo menos una factura para cambiarle el estado.");
            } else {
                var html = "";
                for (var i in orderSelected [1]) {
                    html += orderSelected [1][i];
                    html += parseInt(i) + 1 === orderSelected[1].length ? "." : ", ";
                }

                $("#modalOrdersText").empty();
                $("#modalOrdersText").html(html);
                $("#changeModal").modal('toggle');
            }
        }

        function saveChange() {
            $.ajax({
                url: "{{ path("lavaseco_api_order_change_processState") }}",
                method: "POST",
                dataType: "json",
                data: {
                    "bills": orderSelected[0],
                    "processState": $("#newProcessStates").val(),
                    "observation": $("#observationProccess").val()
                },
                beforeSend: function (xhr) {
                    loadingModal("Guardando los cambios en el sistema... Espere por favor.");
                },
                success: function (result) {
                    closeLoadingModal();
                    location.reload();
                    openModalAlerErrorSuccess("Confirmación de Cambios", "Los cambios han sido aplicados con éxito.");
                },
                error: function () {
                    closeLoadingModal();
                    openModalAlerErrorSuccess("Confirmación de Cambios", "Error al guardar los cambios realizados, intente nuevamente.");
                }
            });
        }

        function updateUrl(processState) {
            if ($(processState).val() === "0") {
                window.location = "{{ path("lavaseco_orders") }}";
            } else {
                window.location = "{{ path("lavaseco_orders") }}/" + $(processState).val();
            }
        }

        function updateSelectUpdaateUrl() {
            var url = window.location.href;
            var urlArray = url.split("/");

            if (urlArray.length > 4) {
                $("#processStateUpdate").val(parseInt(urlArray[4]));
            }
        }
        
        function printBill(){
            if(billTicketId === 0){
                openModalAlerErrorSuccess("Error","Por favor seleccione una orden.");
                return;
            }
            
            $.ajax({
                url: "{{ path("lavaseco_api_print_bill") }}",
                method: "POST",
                dataType: "json",
                data: {
                    "bill": billTicketId
                },
                beforeSend: function (xhr) {
                    loadingModal("Espere por favor.");
                },
                success: function (result) {
                    closeLoadingModal();
                    openModalAlerErrorSuccess("Alerta","Su factura se imprimirá en un momento.");
                },
                error: function () {
                    closeLoadingModal();
                    openModalAlerErrorSuccess("Confirmación de Cambios", "Error, intente nuevamente.");
                }
            });
        }

    </script>
{% endblock %}