{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
    {#    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/dataTables.bootstrap.css") }}">#}
    <style>
        .iconSettings {
            margin-top    : 5px;
            margin-bottom : 10px;
            font-size     : 12px;
            position      : relative;
            top           : 1px;
            display       : inline-block;
            font-family   : 'Glyphicons Halflings';
            font-style    : normal;
            font-weight   : 400;
            line-height   : 1;
            -webkit-font-smoothing : antialiased;
        }

        td.details-control {
            cursor     : pointer;
            text-align : center;

            &:before {
                @extend .iconSettings;
                content : '\2b';
            }
        }

        tr.shown td.details-control {
            &:before {
                @extend .iconSettings;
                content : '\2212';
            }
        } 
    </style>
{% endblock %} 

{% block body %} 

    <h1>Configuración De Descriptores</h1>
    <p>
        Cree o modifique los descriptores que se utilizaran para describir lo recibido en los servicios.    
    </p>
    <hr>
    <div class="row">
        <!--Formulario contenidio-->
        <div class="col-md-6">
            <!-- Form Tipo descriptor-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registro Tipo Descriptor</h3>
                </div>
                <div class="panel-body">
                    <!-- Form Tipo descriptor-->
                    {{ form_start(formCategoryStateObject, {'attr': {'class': 'form-horizontal'} }) }}
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_errors(formCategoryStateObject.name) }}
                            <label class="col-md-4 control-label" for="textinput">{{ form_label(formCategoryStateObject.name, 'Tipo Descriptor') }}</label>  
                            <div class="col-md-5">
                                {{ form_widget(formCategoryStateObject.name, {'attr': {'class': 'form-control  input-md'} }) }}
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <input id="singlebuttonRegisTypeDesc" type="submit" name="singlebutton" class="btn btn-success pull-right" value="Guardar"/>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_end(formCategoryStateObject) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registro Descriptor</h3>
                </div>
                <div class="panel-body">                    
                    <!-- Form Descriptor -->
                    {{ form_start(formObjectDescription, {'attr': {'class': 'form-horizontal'} }) }}
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_errors(formObjectDescription.name) }}
                            <label class="col-md-4 control-label" for="textinput">{{ form_label(formObjectDescription.name, 'Nombre') }}</label>  
                            <div class="col-md-5">
                                {{ form_widget(formObjectDescription.name, {'attr': {'class': 'form-control input-md'} }) }}
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            {{ form_errors(formObjectDescription.categoryStateObject) }}
                            <label class="col-md-4 control-label" for="selectbasic">{{ form_label(formObjectDescription.categoryStateObject, 'Tipo Descriptor') }}</label>
                            <div class="col-md-5">
                                {{ form_widget(formObjectDescription.categoryStateObject, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <input id="singlebuttonRegisDescrip" type="submit" name="singlebutton" class="btn btn-success pull-right" value="Guardar"/>
                            </div>
                        </div>

                    </fieldset>
                    {{ form_end(formObjectDescription) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h3>Descriptores Registrados</h3>
            <hr>

            <table id="descriptorsTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Descriptor</th>
                        <th>Edit</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        /* Formatting function for row details - modify as you need */
        function format(data) {
            // `data` is the original data object for the row
            var html = "";
            
            for (var i in data.descriptors) {
                html += '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                    '<td>Nombre Tipo Descriptor:</td>' +
                    '<td>' + data.descriptors[i].name + '</td>' +
                    '</tr>' +
                    '</table>';
            }
            
            return html;
        }

        $(document).ready(function () {
            var data = [
                {
                    "id": 1,
                    "name": "Color",
                    "descriptors": [{"name":"Azul"}, {"name": "Verde"}, {"name": "Amarillo"}, {"name": "Rojo"}]
                },
                {
                    "id": 2,
                    "name": "Tamaño",
                    "descriptors": [{"name":"Grande"}, {"name": "Mediano"}, {"name": "Pequeño"}]
                }
            ];
            
            console.log(data.descriptors);
            
            var table = $('#descriptorsTable').DataTable({
                // Column definitions
                "columns": [
                    {
                        "class": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {"data": "id"},
                    {"data": "name"}
                ],
                
                "order": [[1, 'asc']],
                
                data : data
            });

            // Add event listener for opening and closing details
            $('#descriptorsTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).parents('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.next('tr').removeClass('details-row');
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.next('tr').addClass('details-row');
                    tr.addClass('shown');
                }
            });
            
        });
    </script>
{% endblock %}