{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block body %} 
    <h1>Configuración del Modulo de Fidelización</h1>
    <p>
        Cree o modifique los valores de los porcentajes o los puntos iniciales por cada nuevo registro de clientes.    
    </p>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Form Tipo descriptor-->
            {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                <div id="divStartP" class="form-group">
                    <p>Puntos Iniciales (Registro)</p>
                    {{ form_errors(form.startPoint) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-star" aria-hidden="true"></i></span>
                            {{ form_widget(form.startPoint, {'attr': {'class': 'form-control  input-md'} }) }}
                    </div>
                    <span id="helpBlockStartP" class="help-block"></span>
                </div>

                <div id="divDepositP" class="form-group">
                    <p>Porcentaje por Pago Anticipado</p>
                    {{ form_errors(form.depositPercent) }}
                    <div class="input-group">
                        {{ form_widget(form.depositPercent, {'attr': {'class': 'form-control  input-md'} }) }}
                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                    </div>
                    <span id="helpBlockDepositP" class="help-block"></span>
                </div>

                <div id="divDeliveryP" class="form-group">
                    <p>Porcentaje por Pago ContraEntrega</p>
                    {{ form_errors(form.uponDeliveryPercent) }}
                    <div class="input-group">
                        {{ form_widget(form.uponDeliveryPercent, {'attr': {'class': 'form-control  input-md'} }) }}
                         <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                    </div>
                    <span id="helpBlockDeliveryP" class="help-block"></span>
                </div>

                <div id="divAdvanceP" class="form-group">
                    <p>Porcentaje por Pago Abono</p>
                    {{ form_errors(form.advancePercent) }}
                    <div class="input-group">
                        {{ form_widget(form.advancePercent, {'attr': {'class': 'form-control  input-md'} }) }}
                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                    </div>
                    <span id="helpBlockAdvanceP" class="help-block"></span>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="control-label" for="singlebutton"></label>
                    <div class="input-group">
                        <input type="submit" id="singlebuttonSaveData" name="singlebutton" class="btn btn-success btn-block" value="Guardar">
                    </div>
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>    

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script>
        $('#lavasecobundle_loyalty_startPoint').keyup(function () {
            var startPoint = $('#lavasecobundle_loyalty_startPoint').val();
            
            if(isNaN(startPoint)) {
                $("#divStartP").removeClass("has-success");
                $("#divStartP").addClass("has-error");
                $("#helpBlockStartP").text("Digite números");
            } else {
                $("#divStartP").addClass("has-success");
                $("#divStartP").removeClass("has-error");
                $("#helpBlockStartP").text("");
            }
        });
        
        $('#lavasecobundle_loyalty_depositPercent').keyup(function () {
            var depositPercent = $('#lavasecobundle_loyalty_depositPercent').val();
            
            if ($(this).val() > 100) {
                $(this).val('100');
            }
            
            if(isNaN(depositPercent)) {
                $("#divDepositP").removeClass("has-success");
                $("#divDepositP").addClass("has-error");
                $("#helpBlockDepositP").text("Digite números");
            } else {
                $("#divDepositP").addClass("has-success");
                $("#divDepositP").removeClass("has-error");
                $("#helpBlockDepositP").text("");
            }
        });
        
        $('#lavasecobundle_loyalty_uponDeliveryPercent').keyup(function () {
            var uponDeliveryPercent = $('#lavasecobundle_loyalty_uponDeliveryPercent').val();
            
            if ($(this).val() > 100) {
                $(this).val('100');
            }
            
            if(isNaN(uponDeliveryPercent)) {
                $("#divDeliveryP").removeClass("has-success");
                $("#divDeliveryP").addClass("has-error");
                $("#helpBlockDeliveryP").text("Digite números");
            } else {
                $("#divDeliveryP").addClass("has-success");
                $("#divDeliveryP").removeClass("has-error");
                $("#helpBlockDeliveryP").text("");
            }  
        });
        
        $('#lavasecobundle_loyalty_advancePercent').keyup(function () {
            var advancePercent = $('#lavasecobundle_loyalty_advancePercent').val();
            
            if ($(this).val() > 100) {
                $(this).val('100');
            }
            
            if(isNaN(advancePercent)) {
                $("#divAdvanceP").removeClass("has-success");
                $("#divAdvanceP").addClass("has-error");
                $("#helpBlockAdvanceP").text("Digite números");
            } else {
                $("#divAdvanceP").addClass("has-success");
                $("#divAdvanceP").removeClass("has-error");
                $("#helpBlockAdvanceP").text("");
            }
        });
        
    </script>
{% endblock %}
