<h3>Registro Ususuarios</h3>
Con el siguiente formulario podra registrar usuarios en el sistema.

{{ form_start(form,{ 'method': 'post', 'attr':{'class':'form-horizontal'} }) }}

    <fieldset>
        <!-- Form Name -->
        <legend>Usuario</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Nombre</label>  
            <div class="col-md-5">
                {{ form_widget(form.firstName, {'attr':{'class':'form-control input-md'} } ) }}
                <span class="help-block">{{ form_errors(form.firstName) }}</span>  
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Apellidos</label>  
            <div class="col-md-5">
                {{ form_widget(form.lastName, { 'attr':{'class':'form-control input-md'} }) }}
                <span class="help-block">{{ form_errors(form.lastName) }}</span>  
            </div>
        </div>
            
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Telefono</label>  
            <div class="col-md-5">
                {{ form_widget(form.phoneNumber, { 'attr':{'class':'form-control input-md'} }) }}
                <span class="help-block">{{ form_errors(form.phoneNumber) }}</span>  
            </div>
        </div>
            
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Eamil</label>  
            <div class="col-md-5">
                {{ form_widget(form.email, { 'attr':{'class':'form-control input-md'} }) }}
                <span class="help-block">{{ form_errors(form.email) }}</span>  
            </div>
        </div>

            
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Nombre Usuario</label>  
            <div class="col-md-5">
                {{ form_widget(form.username, { 'attr':{'class':'form-control input-md'} }) }}
                <span class="help-block">{{ form_errors(form.username) }}</span>  
            </div>
        </div>
            
            
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Contraseña</label>
            <div class="col-md-5">
                {{ form_widget(form.plainPassword.first, { 'attr':{'class':'form-control input-md'} } ) }}
                <span class="help-block">{{ form_errors(form.plainPassword.first) }}</span>
            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Confirmar Contraseña</label>
            <div class="col-md-5">
                {{ form_widget(form.plainPassword.second, { 'attr':{'class':'form-control input-md'} }) }}
                <span class="help-block">{{ form_errors(form.plainPassword.second) }}</span>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectmultiple">Rol</label>
            <div class="col-md-5">
                {{ form_widget(form.roles, { 'attr':{'class':'form-control'} }) }}
            </div>
        </div>
           
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"></label>
          <div class="col-md-4">
            <input type="submit" value="Registrar" class="btn btn-success"/>
          </div>
        </div>
    </fieldset>
{{ form_end(form) }}
