{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <style>
        textarea {
            height: 138px !important;
            width: 269px !important;
        }

        .treeNode {
            list-style: none;
            margin-left: 0;
            padding-left: 1em;
        }

        /* layout.css Style */
        .upload-drop-zone {
            height: 180px;
            border-width: 2px;
            margin-bottom: 20px;
        }

        /* skin.css Style*/
        .upload-drop-zone {
            color: #ccc;
            border-style: dashed;
            border-color: #ccc;
            line-height: 180px;
            text-align: center
        }
        .upload-drop-zone.drop {
            color: #222;
            border-color: #222;
        }
    </style>
{% endblock %} 

{% block body %} 
    <h1>Configuración de Servicios</h1>
    <p>
        Configura los servicios y sus respectivas categorias    
    </p>
    <hr>
    <div class="row">
        <!--arbol de categorias y servicios-->
        <div class="col-md-8">
            <div class="list-group">
                <ul class="treeNode">
                    {% for serviceCagory in serviceCagories %}
                        <li>
                            <a href="#Categoria_{{ serviceCagory.id }}" onclick="addCategoryButtonClickEvent(this);"
                               class="list-group-item" 
                               role="button" data-toggle="collapse" href="#Categoria_{{ serviceCagory.id }}" 
                               aria-expanded="false" aria-controls="Categoria_{{ serviceCagory.id }}"
                               data-service-id="{{ serviceCagory.id }}"
                               data-service-type="Categoria">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                {{ serviceCagory.name }}
                            </a>
                            <ul class="collapse treeNode" id="Categoria_{{ serviceCagory.id }}">
                                {% for subServiceCategory in serviceCagory.subServiceCategories %}
                                    <li>
                                        <a href="#Subcategoria_{{ subServiceCategory.id }}"  onclick="addCategoryButtonClickEvent(this);"
                                           class="list-group-item" 
                                           role="button" data-toggle="collapse" href="#Subcategoria_{{ subServiceCategory.id }}" 
                                           aria-expanded="false" aria-controls="Subcategoria_{{ subServiceCategory.id }}" 
                                           data-service-id="{{ subServiceCategory.id }}"
                                           data-service-type="Subcategoria">
                                            <strong>&#8226;</strong>
                                            {{ subServiceCategory.name }}
                                        </a>
                                        <ul class="collapse treeNode" id="Subcategoria_{{ subServiceCategory.id }}">
                                            {% for service in subServiceCategory.subServiceCategories %}
                                                <li>
                                                    <button type="button" class="list-group-item" onclick="addCategoryButtonClickEvent(this);"
                                                            data-service-id="{{ service.id }}"
                                                            data-service-type="Servicio">{{ service.name }}
                                                    </button>
                                                </li>
                                            {% endfor %}
                                            <div id="newServicio_{{ subServiceCategory.id }}"></div>
                                            <li>
                                                <button type="button" onclick="addBuntonClickEvent(this);" class="list-group-item" data-toggle="modal" 
                                                        data-target="#categoriesModal"
                                                        data-service-type="Servicio"
                                                        data-super-category="{{ subServiceCategory.id }}">
                                                    <strong>+</strong>Agregar Servicio
                                                </button>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                <div id="newSubcategoria_{{ serviceCagory.id }}"></div>
                                <li>
                                    <button type="button" onclick="addBuntonClickEvent(this);" class="list-group-item" data-toggle="modal" 
                                            data-target="#categoriesModal"
                                            data-service-type="Subcategoria"
                                            data-super-category="{{ serviceCagory.id }}">
                                        <strong>+</strong>
                                        Agregar Subcategoria
                                    </button>
                                </li>
                            </ul>
                        </li>    
                    {% endfor %}
                    <div id="newCategoria"></div>
                    <li class="list-group-item-success">
                        <button type="button" onclick="addBuntonClickEvent(this);" class="list-group-item" data-toggle="modal" 
                                data-target="#categoriesModal" data-service-type="Categoria">
                            <strong>+</strong>
                            Agregar Categoria
                        </button>    
                    </li>
                </ul>
            </div>
        </div>

        <!--Especificacion Categorias y servcios-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> 
                    <label id="tittle_service_category"></label>
                </div>
                <div class="panel-body">
                    <h3 id="name_service_category" class="text-center">Tipo Categoria o Servicio</h3>
                    <hr>
                    <h4>Descripcion:</h4>
                    <p id="descrip_service_category">...</p>
                    <hr>
                    <div id="serviceData" >                    
                        <h4>Precio Unitario: $
                            <span id="price_service_category"></span>
                        </h4> 
                        <h4>Descriptores:</h4> 
                        <div id="descriptors_service_category"></div>
                        <hr>
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoriesModal" 
                                onclick="updateServiceCategory();">Modificar</button>
                        <button type="button" class="btn btn-default" onclick="deleteServiceCategory();">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal Registro Categorias-->
    <div id="categoriesModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="titleModal" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label id="name_new_service" class="col-md-4 control-label" for="textinput">Nombre</label>  
                            <div class="col-md-4">
                                <input id="nameNewCategory" name="textinput" type="text" class="form-control input-md">
                            </div>
                        </div>
                        <div id="priceNewServiceImput" class="form-group">
                            <label id="name_new_service_price" class="col-md-4 control-label" for="textinput">Precio $</label>  
                            <div class="col-md-4">
                                <input id="priceNewService" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="description_new_service" class="col-md-4 control-label" for="textarea">Descripción</label>
                            <div class="col-md-4">                     
                                <textarea id="descriptionNewCategory" class="form-control"></textarea>
                            </div>
                        </div>

                        <div id="descriptors" class="form-group" style="display: none;">
                            <label class="col-md-4 control-label" for="checkboxes">Descriptores</label>
                            <div id="select_state_new_service" class="col-md-4">

                            </div>
                        </div>
                        <!---
                        <div class="form-group">
                            <label id="image_new_service" class="col-md-4 control-label" for="filebutton">Icono o Imagen</label>
                            <div class="col-md-4">
                                <input id="filebutton" name="filebutton" class="input-file" type="file">
                            </div>
                        </div>
                        <!-- Drop Zone 
                        <div class="form-group">
                            <div class="upload-drop-zone" id="drop-zone">
                                Just drag and drop files here
                            </div>
                        </div> -->
                        <input id="typeCategory" type="hidden" value=""><br>
                        <input id="superCategory" type="hidden" value=""><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button  id="btnSaveCategory" type="button" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script>

        $(document).ready(function () {
            $("#priceNewService").number(true);
            //Evento cerrar ventana modal
            $('#categoriesModal').on('hidden.bs.modal', function (e) {
                clearcCategoriesModal();
            });
            
            $("#serviceData").hide();
        });

        $("#btnSaveCategory").on('click', function () {
            var flag = validateFields();
            //validar
            if (flag === true) {
                var category = {};
                category['name'] = $("#nameNewCategory").val();
                category['description'] = $("#descriptionNewCategory").val();
                category['type'] = 1;
                if ($("#typeCategory").val() !== "Categoria") {
                    category['type'] = 2;
                    category['superCategory'] = $("#superCategory").val();
                }

                if ($("#typeCategory").val() === "Servicio") {
                    category['type'] = 3;
                    category['price'] = $("#priceNewService").val();
                    category['descriptors'] = [];
                    $(".checkboxDescriptor").each(function (index) {
                        if ($(this).is(":checked")) {
                            category.descriptors.push($(this).val());
                        }
                    });
                }

                $.ajax({
                    url: "{{ path("lavaseco_api_add_service_category") }}",
                    method: "POST",
                    dataType: "json",
                    data: category,
                    success: function (result) {
                        category["id"] = result.categoryId;
                        addCategoryAtTree(category);
                        $('#categoriesModal').modal('hide');
                    }
                });
            }
        });

        function addBuntonClickEvent(button) {
            $("#descriptors").hide();
            $("#priceNewServiceImput").hide();
            $("#typeCategory").val($(button).data('serviceType'));
            $("#superCategory").val($(button).data('superCategory'));
            $("#titleModal").html("Agregar " + $(button).data('serviceType'));
            if ($(button).data('serviceType') === "Servicio") {
                getImputsDescriptions();
            }
        }

        function getImputsDescriptions() {
            $.ajax({
                url: "{{ path("lavaseco_api_descriptors") }}",
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (decriptions) {
                    $("#select_state_new_service").empty();
                    $("#descriptors").show();
                    $("#priceNewServiceImput").show();
                    for (var desc in decriptions) {
                        var html = "<div class=\"checkbox\">\
                                    <label for=\"checkboxes-1\">\
                                        <input class=\"checkboxDescriptor\" type=\"checkbox\" name=\"checkboxes\" id=\"checkboxes-1\" value=\"" + decriptions[desc].id + "\">"
                                + decriptions[desc].name +
                                "</label>\
                                </div>";
                        $("#select_state_new_service").append(html);
                    }
                }
            }
            );
        }

        function updateServiceCategory() {
            var name = $("#name_service_category").text();
            var description = $("#descrip_service_category").text();
            if ($("#tittle_service_category").text().length > 0) {
                $("#nameNewCategory").val(name);
                $("#descriptionNewCategory").val(description);
            }
        }

        function deleteServiceCategory() {

        }

        function validateFields() {
            var name = $("#nameNewCategory").val();
            var description = $("#descriptionNewCategory").val();
            var precio = $("#priceNewService").val();

            if (name === null || name.length === 0 || /^\s+$/.test(name)) {
                $("#nameNewCategory").focus();
                return false;
            } else if (description === null || description.length === 0 || /^\s+$/.test(description)) {
                $("#descriptionNewCategory").focus();
                return false;
            } else {
                if ($("#typeCategory").val() === "Servicio") {
                    if (precio === null || precio.length === 0 || /^\s+$/.test(precio) || parseInt(precio) === 0) {
                        $("#priceNewService").focus();
                        return false;
                    } else {
                        var isChecked = 0;
                        $(".checkboxDescriptor").each(function (index) {
                            if ($(this).is(":checked")) {
                                isChecked++;
                            } else {
                                $(".checkboxDescriptor").focus();
                            }
                        });

                        return isChecked > 0;
                    }
                }
                return true;
            }

        }

        function addCategoryAtTree(category) {
            var html;
            var type;
            if (category.type === 1 || category.type === 2) {
                type = (category.type === 1) ? "Categoria" : "Subcategoria";
                html = addCategory(type, category);
                html += addButtonAgregar(type, category);
            } else {
                type = ("Servicio");
                html = addService(category);
                html += addButtonAgregar(type, category);
            }

            type += ((category.superCategory !== undefined) ? "_" + category.superCategory : "");
            $("#new" + type).append(html);
        }

        function addCategory(type, category) {
            var id = type + "_" + category.id;
            return "<li>\
                <a href=\"#" + id + "\" class=\"list-group-item\" onclick=\"addCategoryButtonClickEvent(this);\"\
                   role=\"button\" data-toggle=\"collapse\" href=\"#" + id + "\"\
                   aria-expanded=\"false\" aria-controls=\"" + id + "\"\
                   data-service-id=\"" + category.id + "\"\
                   data-service-description=\"" + category.description + "\"\
                   data-service-type=\"" + type + "\">"
                    + getCategoryicon(type)
                    + category.name +
                    "</a>\
            </li>";
        }

        function addService(category) {
            return  "<li>\
                    <button type=\"button\" class=\"list-group-item\" onclick=\"addCategoryButtonClickEvent(this);\"\
                        data-service-id=\"" + category.id + "\"\
                        data-service-type=\"Servicio\">" + category.name + "\
                    </button>\
                </li>";
        }

        function addButtonAgregar(type, category) {
            var id = type + "_" + category.id;
            var subType = ((type === "Categoria") ? "Subcategoria" : ((type === "Subcategoria") ? "Servicio" : ""));
            return "<ul class=\"collapse treeNode\" id=\"" + id + "\">\
                        <div id=\"new" + subType + "_" + category.id + "\"></div>\
                        <li>\
                            <button onclick=\"addBuntonClickEvent(this);\" type=\"button\" class=\"list-group-item\" data-toggle=\"modal\"\
                                data-target=\"#categoriesModal\"\
                                data-service-type=\"" + subType + "\"\
                                data-super-category=\"" + category.id + "\">\
                            <strong>+</strong>\
                            Agregar " + subType +
                    "</button>\
                        </li>\
                    </ul>";
        }

        function getCategoryicon(type) {
            var icon = "";
            if (type === "Categoria") {
                icon = "<i class=\"fa fa-list-ul\" aria-hidden=\"true\"></i> ";
            }
            if (type === "Subcategoria") {
                icon = "<strong>&#8226;</strong> ";
            }
            return icon;
        }

        function clearcCategoriesModal() {
            $("#nameNewCategory").val("");
            $("#descriptionNewCategory").val("");
            $("#priceNewService").val("");
        }

        function addCategoryButtonClickEvent(button) {
            $.ajax({
                url: "{{ path('lavaseco_api_service_category') }}/" + $(button).data('serviceId'),
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    $("#serviceData").hide();
                    if (data.name !== undefined) {
                        $("#tittle_service_category").text(data.type);
                        $("#name_service_category").text(data.name);
                        $("#descrip_service_category").text(data.description);

                        if (data.type === "Servicio") {
                            $("#price_service_category").text($.number(data.price));

                            var html = "<ul>";
                            for (var desc in data["descriptors"]) {
                                html += "<li>" + data.descriptors[desc].name + "</li>";
                            }
                            html += "</ul>";
                            $("#descriptors_service_category").html(html);
                            $("#serviceData").show();
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}

