{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <style>
        textarea {
            height: 120px !important;
            width: 297px !important;
        }

        .treeNode {
            list-style: none;
            margin-left: 0;
            padding-left: 1em;
        }

        /* layout.css Style */
        .upload-drop-zone {
            height: 200px;
            border-width: 2px;
            margin-bottom: 20px;
        }

        /* skin.css Style*/
        .upload-drop-zone {
            color: #ccc;
            border-style: dashed;
            border-color: #ccc;
            line-height: 200px;
            text-align: center
        }
        .upload-drop-zone.drop {
            color: #222;
            border-color: #222;
        }
    </style>
{% endblock %} 

{% block body %} 
    <h1>Configuración de Servicios</h1>
    <p>
        Configura los servicios y sus respectivas categorias    
    </p>
    <hr>
    <div class="row">
        <!--arbol de categorias y servicios-->
        <div class="col-md-8">
            <div class="list-group">
                <ul class="treeNode">
                    {% for serviceCagory in serviceCagories %}
                        <li>
                            <a href="#categori_{{ serviceCagory.id }}" class="list-group-item" 
                               role="button" data-toggle="collapse" href="#categori_{{ serviceCagory.id }}" 
                               aria-expanded="false" aria-controls="categori_{{ serviceCagory.id }}"
                               data-service-name="{{ serviceCagory.name }}"
                               data-service-description="{{ serviceCagory.description }}"
                               data-service-type="Categoria">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                {{ serviceCagory.name }}
                            </a>
                            <ul class="collapse treeNode" id="categori_{{ serviceCagory.id }}">
                                {% for subServiceCategory in serviceCagory.subServiceCategories %}
                                    <li>
                                        <a href="#subcategori_{{ subServiceCategory.id }}" class="list-group-item" 
                                           role="button" data-toggle="collapse" href="#subcategori_{{ subServiceCategory.id }}" 
                                           aria-expanded="false" aria-controls="subcategori_{{ subServiceCategory.id }}" 
                                           data-service-name="{{ subServiceCategory.name }}"
                                           data-service-description="{{ subServiceCategory.description }}"
                                           data-service-type="SubCategoria">
                                            <strong>&#8226;</strong>
                                            {{ subServiceCategory.name }}
                                        </a>
                                        <ul class="collapse treeNode" id="subcategori_{{ subServiceCategory.id }}">
                                            {% for service in subServiceCategory.subServiceCategories %}
                                                <li>
                                                    <button type="button" class="list-group-item" 
                                                            data-service-name="{{ service.name }}"
                                                            data-service-description="{{ service.description }}"
                                                            data-service-type="Servicio">{{ service.name }}</button>
                                                </li>
                                            {% endfor %}
                                            <li>
                                                <button type="button" class="list-group-item" data-toggle="modal" 
                                                        data-target="#categoriesModal" data-service-category="3">
                                                    <strong>+</strong>Agregar Servicio
                                                </button>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                <li>
                                    <button type="button" class="list-group-item" data-toggle="modal" data-target="#categoriesModal">
                                        <strong>+</strong>
                                        Agregar Subcategoria
                                    </button>
                                </li>
                            </ul>

                        </li>    
                    {% endfor %}
                    <li>
                        <button type="button" class="list-group-item" data-toggle="modal" data-target="#categoriesModal">
                            <strong>+</strong>
                            Agregar Categoria
                        </button>    
                    </li>
                </ul>
            </div>
        </div>

        <!--Especificacion Categorias y servcios-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> 
                    <label id="tittle_service_category"></label>
                </div>
                <div class="panel-body">
                    <h3 id="name_service_category" class="text-center">Tipo Categoria o Servicio</h3>
                    <hr>
                    <h4>Descripcion:</h4>
                    <p id="descrip_service_category">...</p>
                    <hr>
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoriesModal" 
                                onclick="updateServiceCategory();">Modificar</button>
                        <button type="button" class="btn btn-default" onclick="deleteServiceCategory();">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal Registro Categorias-->
    <div id="categoriesModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Service options -->
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label id="name_new_service" class="control-label col-md-4">Nombre</label>
                                    <div class="input-group">
                                        <input id="nameNewCategory" type="text" class="form-control input-md col-md-6" value="" required="required">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label id="description_new_service" class="control-label col-md-4">Descripción</label>
                                    <div class="input-group">
                                        <textarea id="descriptionNewCategory" class="form-control input-md col-md-6" rows="2" value="" required="required"></textarea>
                                    </div>
                                </div>  
                                
                                <div class="form-group" id="select_state_new_service"></div> 
                                
                                <hr>
                                <div class="form-group">
                                    <label id="image_new_service" class="control-label col-md-6">Seleccione una imagen de su Computador</label>

                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="file" name="files[]" id="js-upload-files" multiple>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Drop Zone -->
                                    <div class="upload-drop-zone" id="drop-zone">
                                        Just drag and drop files here
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveNewCategory();">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(".list-group-item").on('click', function () {
            $("#tittle_service_category").text($(this).data('serviceType') + " " + $(this).data('serviceName'));
            $("#name_service_category").text($(this).data('serviceName'));
            $("#descrip_service_category").text($(this).data('serviceDescription'));
            
            var serviceCategory = $(this).data('serviceCategory');

            if (serviceCategory == 3) {
                addImputsDescriptions();
            }
        });
        
        function addImputsDescriptions() {
            //ajax
            //
            //success ajax
            var result = {
                "service":
                        {
                            "name": "Nombre servicio",
                            "price": "8000"
                        },
                "decriptions":
                        [
                            {
                                "name": "Color",
                                "options":
                                        [
                                            {"id": 1, "name": "Rojo"},
                                            {"id": 2, "name": "Amarillo"},
                                            {"id": 3, "name": "Azul"},
                                            {"id": 4, "name": "Violeta"}
                                        ]
                            },
                            {
                                "name": "Estado",
                                "options":
                                        [
                                            {"id": 1, "name": "Bueno"},
                                            {"id": 2, "name": "Desgastado"},
                                            {"id": 4, "name": "Dañado"}
                                        ]
                            }
                        ]
            };
            //omitir resutl " success: function(resutl){ .."
            var decriptions = result.decriptions;
            
            var tittle= "<hr> <h4 class='modal-title text-center'>Seleccione las caracteristicas</h4> <hr>";
            $("#select_state_new_service").append(tittle);
            
            for (var desc in decriptions) {
                var html = "<div class=\"col-md-2\">\
                            <input type='checkbox' name='service' value='"+ decriptions[desc].name +"'>\
                            <label class=\"control-label\">" + decriptions[desc].name + "</label>";
                html += "</input></div>";
                $("#select_state_new_service").append(html);
            }
        }

        function updateServiceCategory() {
            var name = $("#name_service_category").text();
            var description = $("#descrip_service_category").text();
            if ($("#tittle_service_category").text().length > 0) {
                $("#nameNewCategory").val(name);
                $("#descriptionNewCategory").val(description);
            }
        }

        function deleteServiceCategory() {

        }

        function saveNewCategory() {
            var nameCategory = $("#nameNewCategory").val();
            var descriptionCategory = $("#descriptionNewCategory").val();
            $.ajax({
                url: "/" + nameCategory + "/" + descriptionCategory,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function () {
                    alert('envio exitoso');
                }});
        }
    </script>
{% endblock %}

