{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/timeline.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 
    <h3 >Facturas</h3>
    <p>
        En esta pagina puedes ver las facturas su estado y la trazabilidad del proceso.
    </p>
    <hr>
    <div class="row">
        <!--facturas-->
        <div class="col-md-12">
            <div class="collapse" id="collapseProcessline">
                <h5 id="titleLineTime"></h5>
                <div style="display:inline-block;width:100%;overflow-y:auto;">
                    <ul  id="listLineTime" class="timeline timeline-horizontal">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--facturas-->
        <div class="col-md-12"> 
            <div class="well well-sm pull-right">
                {% if salePointIsOpen %}
                    <form class="form-inline">
                        <button type="button" id="deleveryButton" class="btn btn-default" onclick="delivered();">Entregar</button> |
                        <button type="button" id="refundButton" class="btn btn-default" onclick="refund();">Reembolso</button>
                        {#                    <div class="form-group">
                                                <select class="form-control" id="sel1">
                                                    <option>Seleccione un estado </option>
                                                </select>
                                            </div>
                        #}
                    </form>                
                {% else %}
                    <p>Para realizar una entrega o reembolso la caja debe estar abierta.</p>
                {% endif %}
            </div>

            <table id="billsUndeliveredTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Factura</th>
                        <th>Cliente</th>
                        <th>Telefono</th>
                        <th>Estado Proceso</th>
                        <th>Pago</th>
                        <th>Estado Factura</th>
                        <th>observación</th>
                        <th>Vendedor</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in billsUndelivered %}
                        <tr>
                            <td>{{ bill.id }}</td>
                            <td>{{ bill.customer.name | default("No se Registro Cliente")}}</td>
                            <td>{{ bill.customer.phoneNumber | default("No se Registra telefono")}}</td>
                            <td>{{ bill.processState.name}}</td>
                            <td>{{ bill.paymentAgreement.name }}</td>
                            <td>{{ bill.billState.name}}</td>
                            <td>{{ bill.observation}}</td>
                            <td>{{ bill.sellerUser.name }}</td>
                            <td>{{ bill.CreatedAtString}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <h3>Facturas Entregadas</h3>
            <hr>
            <table id="billsDeliveredTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Factura</th>
                        <th>Cliente</th>
                        <th>Telefono</th>
                        <th>Estado Proceso</th>
                        <th>Pago</th>
                        <th>Estado Factura</th>
                        <th>observación</th>
                        <th>Vendedor</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in billsDelivered %}
                        <tr>
                            <td>{{ bill.id }}</td>
                            <td>{{ bill.customer.name | default("No se Registro Cliente")}}</td>
                            <td>{{ bill.customer.phoneNumber | default("No se Registra telefono")}}</td>
                            <td>{{ bill.processState.name}}</td>
                            <td>{{ bill.paymentAgreement.name }}</td>
                            <td>{{ bill.billState.name}}</td>
                            <td>{{ bill.observation}}</td>
                            <td>{{ bill.sellerUser.name }}</td>
                            <td>{{ bill.CreatedAtString}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div id="wayToPay" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <label id="paymentTittle"></label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <p>Forma de Pago</p>
                                <div class="input-group" id="specificWayPay">
                                    <select id="selectWayToPay" onChange="" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <hr>

                            <div class="form-group">
                                <div id="divTotalBill"></div>
                            </div>

                            <div class="form-group">
                                <p>Dinero Recibido<span class="req">*</span></p>
                                <div class="input-group" id="divCashReceived">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-usd"></i></span>
                                    <input class="form-control" id="cashReceived" type="text" autocomplete="off" onkeyup="updateChange();"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <p>Vueltas</p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-usd"></i></span>
                                    <input class="form-control" id="change" type="text" autocomplete="off" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  onclick="deliverBill();" class="btn btn-success"/>Cobrar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        var bill;
        var billId;
        var total = 0;
        var UndeliveredBillSelect = 0;

        $(document).ready(function () {
            $("#change").number(true);
            $("#cashReceived").number(true);

            var billsUndeliveredTable = $('#billsUndeliveredTable').DataTable({
                "order": [[0, "Desc"]]
            });

            var billsDeliveredTable = $('#billsDeliveredTable').DataTable({
                "order": [[0, "Desc"]]
            });

            $('#billsUndeliveredTable tbody').on('click', 'tr', function () {
                var data = billsUndeliveredTable.row(this).data();
                UndeliveredBillSelect = billId = data[0];

                $(".selected").toggleClass('selected');

                $(this).toggleClass('selected');

                collapseProcessLine(data[0]);
            });

            $('#billsDeliveredTable tbody').on('click', 'tr', function () {
                var data = billsDeliveredTable.row(this).data();
                billId = data[0];
                UndeliveredBillSelect = 0;
                $(".selected").toggleClass('selected');

                $(this).toggleClass('selected');

                collapseProcessLine(data[0]);
            });
        });

        function collapseProcessLine(billId) {
            $.ajax({
                url: "{{ path('lavaseco_api_bill_history') }}/" + billId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (billHistories) {

                    $("#listLineTime").empty();
                    $("#titleLineTime").html("Factura: " + billHistories.bill + ", orden: " + billHistories.order);
                    for (var i in billHistories.histories) {
                        addProcesHistory(billHistories.histories[i]);
                    }

                    $('#collapseProcessline').collapse();
                    window.scrollTo(0, 0);
                }
            });
        }

        function addProcesHistory(billHistory) {
            var html = "<li class=\"timeline-item\">\
                            <div class=\"timeline-badge\"><i class=\"fa fa-check\" aria-hidden=\"true\"></i></div>\
                            <div class=\"timeline-panel\">\
                                <div class=\"timeline-heading\">\
                                    <h4 class=\"timeline-title\">" + billHistory.processState + "</h4>\
                                    <p><small class=\"text-muted\"><i class=\"glyphicon glyphicon-time\"></i> Fecha: " + billHistory.createdAt + "</small></p>\
                                    <p><small class=\"text-muted\"><i class=\"fa fa-user-o\" aria-hidden=\"true\"></i></i> Usuario: " + billHistory.user + "</small></p>\
                                </div>\
                                <div class=\"timeline-body\">\
                                    <p>" + billHistory.observation + "</p>\
                                </div>\
                            </div>\
                        </li>";
            $("#listLineTime").append(html);
        }

        function delivered() {
            if (UndeliveredBillSelect === 0) {
                alert("No a seleccionado una factura para entregar!");
                return;
            }
            deliveredBill(UndeliveredBillSelect);
        }

        function deliveredBill(billId) {
            $.ajax({
                url: "{{ path('lavaseco_api_bill') }}/" + billId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (billRsult) {
                    bill = billRsult;
                    if (bill.billState === 2 && bill.payAgreement === 1) {
                        deliverBill(bill);
                    } else {
                        wayToPay(bill);
                    }
                }
            });
        }

        function deliverBill() {
            $.ajax({
                url: "{{ path("lavaseco_api_bill_deliver") }}",
                method: "POST",
                dataType: "json",
                data: bill,
                success: function (result) {
                    if (result.error !== undefined) {
                        openModalAlerErrorSuccess('Confirmación de Factura', "Error al entregar registrar la factura");
                    } else {
                        openModalAlerErrorSuccess('Confirmación de Factura', "Se registró la entrega con exito",
                                function () {
                                    $('#wayToPay').modal('hide');
                                    location.reload();
                                });
                    }
                }
            });
        }

        function wayToPay() {
            var htmlTotalBill = "";

            if (bill.payAgreement === 2) {
                total = bill.total;
                htmlTotalBill = "<p class='text-right'><strong>Total Factura: $" + $.number(bill.total) + "</strong></p>";
            } else if (bill.payAgreement === 3) {
                total = bill.total - bill.payed;

                htmlTotalBill = "<p class='text-right'>\
                    Total Factura:<strong>$" + $.number(bill.total) + "</strong><br>\
                    Abono: <strong>$" + $.number(bill.payed) + "<br></strong>\
                    <strong>Total a Cobrar: $" + $.number(bill.total - bill.payed) + "</strong>\
                    </p>";

            } else {
                return;
            }

            $('#paymentTittle').text('Cobro Factura ' + bill.id);
            $('#wayToPay').modal('show');
            $('#divTotalBill').html(htmlTotalBill);
            addWayToPay();
        }

        function loadWayPay(payment) {
            var html = "<option value=\"" + payment.name + "\" data-id=\"" + payment.id + "\" data-name=\"" + payment.name + "\">" + payment.name + "</option>";
            $("#selectWayToPay").append(html);
        }

        function addWayToPay() {
            $("#selectWayToPay").empty();
            $.ajax({
                url: "{{ path('lavaseco_api_pay_method') }}",
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (payMethods) {
                    for (var i in payMethods) {
                        loadWayPay(payMethods[i]);
                    }
                }
            });
        }

        function updateChange() {
            var change = $("#cashReceived").val() - total;
            if (change < 0) {
                $("#change").val('');
                $("#divCashReceived").removeClass("has-success");
                $("#divCashReceived").addClass("has-error");
                return false;
            } else {
                $("#change").val(change);
                $("#divCashReceived").addClass("has-success");
                $("#divCashReceived").removeClass("has-error");
                return true;
            }
        }

        function refund() {
            if (billId === undefined || billId === 0) {
                openModalAlerErrorSuccess('Error', "Seleccione por lo menos una Factura!");
                return;
            }

            if (confirm("Recuerde que este proceso es irreversible. ¿Esta seguro del reembolso de la factura " + billId + "?")) {
                $.ajax({
                    url: "{{ path("lavaseco_api_bill_refund") }}",
                    method: "POST",
                    dataType: "json",
                    data: {
                        "bill": billId
                    },
                    success: function (result) {
                        openModalAlerErrorSuccess('Confirmación de Reembolso', "Reembolso ha sido efectuado con éxito.");
                        $('#wayToPay').modal('hide');
                        location.reload();
                    },
                    error: function () {
                        openModalAlerErrorSuccess('Confirmación de Reembolso', "Error a efectuar el reembolso.");
                    }

                });
            }
        }
    </script>
{% endblock %}