{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 
    <h3 >Estado de mis Compras</h3>
    <p>
        En esta pagina puedes el estado en que se encuentran todas tus compras.
    </p>
    <hr>
    <div class="row">
        <!--Productos por categoria-->
        <div class="col-md-9"> 
            <div class="well well-sm pull-right">
                <form class="form-inline">
                    <button type="button" id="changeStateButton" class="btn btn-info" onclick="changeShippingAddress();">Cambiar Dir. Entrega</button>
                    |
                    <div class="checkbox">
                        <label>
                            <input  id="seletedCheckbox" type="checkbox"> Seleccionar Varios
                        </label>
                    </div>
                    |
                    <div class="form-group">
                        <label>
                            Filtrar por
                        </label>
                        <select id="processStateUpdate" class="form-control" onchange="updateUrl(this);">
                            <option value="0" selected>Todos los estados</option>
                            {% for processState in processStates%}
                                <option value="{{ processState.id }}">{{ processState.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>                
            </div>

            <table id="billsTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>No. Factura</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Dir. Envío</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                        <tr>
                            <td>{{ bill.id }}</td>
                            <td>{{ bill.salePoint.id }}-{{ bill.id }}</td>
                            <td>{{ bill.CreatedAtString}}</td>
                            <td>{{ bill.processState.name}}</td>
                            <td>{{ bill.customer.phoneNumber | default("Recoger en tienda")}}</td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i> Ticket</h3>
                </div>
                <div class="panel-body">
                    <h3 id="billTiket">Factura</h3>

                    <h5 id="dateTiket">Fecha: YYYY/MM/DD</h5>
                    <h5 id="sellerTiket">Vendedor: XXXXXXXXXXXX</h5>
                    <h5 id="quantityTiket"><strong>Objetos Recibidos: N</strong></h5>
                    <h5 id="priceTiket"><strong>Total: $XXXXX</strong></h5>
                    <strong id="customerTiket">Cliente: XXXXXXXXXXXX</strong><br>
                    <strong id="phoneNumberTiket">Numero Telefono: XXXXXXXXXXXX</strong><br>
                    <hr>
                    <p id="billDetailsTiket">
                    </p>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="changeModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="fa fa-motorcycle" aria-hidden="true"></i>
                        <label id="ShippmentAddressTitle">Modificar la Dirección de Entrega</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        Realizar cambio de dirección de envío para las siguientes facturas:<br>
                        <strong id="invoicesModified"></strong>
                    </p>
                    <div class="form-horizontal">
                        <div class="panel-body">
                            {% include 'LavasecoBundle:BootsTrap:Client/Delivery/index.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="saveChange();">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        var billTicketId = 0;
        var orderSelected = [[], []];
        $(document).ready(function () {
            var billsTable = $('#billsTable').DataTable({
                "order": [[0, "Desc"]]
            });
            $("#seletedCheckbox").change(function () {
                if (!this.checked) {
                    $(".selected").toggleClass('selected');
                }
            });
            $('#billsTable tbody').on('click', 'tr', function () {
                var data = billsTable.row(this).data();
                if (!$('#seletedCheckbox').is(":checked"))
                {
                    $(".selected").toggleClass('selected');
                    orderSelected[0] = [];
                    orderSelected[1] = [];
                }

                $(this).toggleClass('selected');
                getTicket(data[0]);
                orderSelected[0].push(data[0]);
                orderSelected[1].push(data[1]);
            });
            updateSelectUpdaateUrl();
        });
        function getTicket(billId) {
            $.ajax({
                url: "{{ path('lavaseco_api_orders_tikets') }}/" + billId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (ticket) {
                    drawTicket(ticket);
                }
            });
        }
        function drawTicket(ticket) {
        {#            $("#orderTiket").html("Orden " + ticket.consecutive);#}
                $("#billTiket").html("Factura " + ticket.salePoint + "-" + ticket.bill);
                $("#dateTiket").html("Fecha: " + ticket.createdAt);
                $("#sellerTiket").html("Vendedor: " + ticket.seller);
                $("#quantityTiket").html("<strong>Objetos Recibidos: " + $.number(ticket.billDetail.quantity) + "</strong>");
                $("#priceTiket").html("<strong>Total: $" + $.number(ticket.billDetail.total) + "</strong>");
                $("#customerTiket").html("Cliente: " + ticket.customer);
                $("#phoneNumberTiket").html("Numero Telefono: " + ticket.phoneNumber);
                drawDetails(ticket.billDetail.details);
                $("#billDetailsTiket").append("<hr><strong>Observaciones: </strong>" + ticket.observation);
                billTicketId = ticket.bill;
            }
            function drawDetails(billDetails) {
                $("#billDetailsTiket").empty();
                for (var i in billDetails) {
                    var html = "<strong>" + billDetails[i].quantity + " x " + billDetails[i].serviceName + "</strong><br>";
                    for (var j in billDetails[i].descriptors) {
                        html += billDetails[i].descriptors[j] + ", ";
                    }
                    html += "<strong>" + billDetails[i].observation + "</strong><br>";
                    $("#billDetailsTiket").append(html);
                }
            }

            function changeShippingAddress() {
                if (orderSelected [1].length === 0) {
                    openModalAlerErrorSuccess("Alerta", "Seleccione por lo menos una factura para cambiarle la dirección de entrega.");
                } else {
                    var html = "";
                    for (var i in orderSelected [1]) {
                        html += orderSelected [1][i];
                        html += parseInt(i) + 1 === orderSelected[1].length ? "." : ", ";
                    }
                    $("#invoicesModified").empty();
                    $("#invoicesModified").html(html);
                    $("#changeModal").modal('toggle');
                }
            }
            function saveChange() {
                $.ajax({
                    url: "{{ path("lavaseco_api_order_change_processState") }}",
                    method: "POST",
                    dataType: "json",
                    data: {
                        "bills": orderSelected[0],
                        "processState": $("#newProcessStates").val(),
                        "observation": $("#observationProccess").val()
                    },
                    beforeSend: function (xhr) {
                        loadingModal("Guardando los cambios en el sistema... Espere por favor.");
                    },
                    success: function (result) {
                        closeLoadingModal();
                        location.reload();
                        openModalAlerErrorSuccess("Confirmación de Cambios", "Los cambios han sido aplicados con éxito.");
                    },
                    error: function () {
                        closeLoadingModal();
                        openModalAlerErrorSuccess("Confirmación de Cambios", "Error al guardar los cambios realizados, intente nuevamente.");
                    }
                });
            }
            function updateUrl(processState) {
                if ($(processState).val() === "0") {
                    window.location = "{{ path("lavaseco_orders") }}";
                } else {
                    window.location = "{{ path("lavaseco_orders") }}/" + $(processState).val();
                }
            }
            function updateSelectUpdaateUrl() {
                var url = window.location.href;
                var urlArray = url.split("/");
                if (urlArray.length > 4) {
                    $("#processStateUpdate").val(parseInt(urlArray[4]));
                }
            }
    </script>
{% endblock %}