<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Lavaseco Modelo</title>

        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("Logo/favicon/apple-icon-60x60.png") }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("Logo/favicon/apple-icon-72x72.png") }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("Logo/favicon/apple-icon-76x76.png") }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("Logo/favicon/apple-icon-114x114.png") }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset("Logo/favicon/apple-icon-120x120.png") }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("Logo/favicon/apple-icon-144x144.png") }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset("Logo/favicon/apple-icon-152x152.png") }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("Logo/favicon/apple-icon-180x180.png") }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset("Logo/favicon/android-icon-192x192.png") }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("Logo/favicon/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset("Logo/favicon/favicon-96x96.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("Logo/favicon/favicon-16x16.png") }}">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset("Logo/favicon/ms-icon-144x144.png") }}">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("Logo/favicon/apple-icon-57x57.png")}}">


        <!-- Bootstrap core CSS -->
        <link href="{{ asset("webPage/vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ asset("webPage/vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{{ asset("webPage/css/agency.min.css") }}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body id="page-top">

        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <img alt="Brand"  height="50" width="97" src="{{ asset( "Logo/logo_b.png" ) }}" style="margin: -15px 5px;">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="">Página Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- About -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Términos de Uso</h2>
                        <h3 class="section-subheading text-muted">Lavaseco Modelo.</h3>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Algún titulo</h4>
                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                    </div>
                    
                </div>
            </div>

        </section>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Lavaseco Modelo 2017</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a data-toggle="modal" href="#privacyPolicyModal">Política de Privacidad</a>
                            </li>
                            <li class="list-inline-item">
                                <a data-toggle="modal" href="#termsOfUseModal">Términos de Uso</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
 

        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset("/webPage/vendor/jquery/jquery.min.js") }}"></script>
        <script src="{{ asset("/webPage/vendor/popper/popper.min.js") }}"></script>
        <script src="{{ asset("/webPage/vendor/bootstrap/js/bootstrap.min.js") }}"></script>

        <!-- Plugin JavaScript -->
        <script src="{{ asset("/webPage/vendor/jquery-easing/jquery.easing.min.js") }}"></script>

        <!-- Contact form JavaScript -->
        <script src="{{ asset("/webPage/js/jqBootstrapValidation.js") }}"></script>
        <script src="{{ asset("/webPage/js/contact_me.js") }}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{ asset("/webPage/js/agency.min.js") }}"></script>

    </body>

</html>