{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 

    <h1>Caja {{ app.session.get('salePoint').name }}</h1>
    <p>
        {% if title == "Apertura" %}
            Para realizar ventas primero tienes que iniciar el turno.   
        {% endif %}

    </p>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {% if summary %}
                <p>Resumen de caja,  
                    Apertura: <strong>$<span class="number">{{ summary.start }}</span></strong>, 
                    Ingresos: <strong>$<span class="number">{{ summary.input }}</span></strong>, 
                    Egresos: <strong>$<span class="number">{{ summary.output }}</span></strong>.
                </p>
            {% endif %}
            <!-- Form Tipo descriptor-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="cashPointTittle">{{ title }} de Caja</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_errors(form.payment) }}
                                <label id="" class="col-md-4 control-label" for="textinput">{{ form_label(form.payment, 'Saldo') }}</label>  
                                <div class="col-md-5">
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            {{ form_widget(form.payment, {'attr': {'class': 'form-control  input-md'} }) }}
                                        </div>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_errors(form.description) }}
                                <label id="" class="col-md-4 control-label" for="textinput">{{ form_label(form.description, 'Concepto') }}</label>  
                                <div class="col-md-5" >
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control  input-md', 'id':'formCahs', 'disabled': editObservations } }) }}
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-5 pull-right">
                                    <button type="button" id="openCloseAlert" class="btn {% if title == "Cierre" %} btn-danger {% else %} btn-success {% endif %}" data-type="{{ title }}" style="margin-left: 13px;" type="button">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        {{ title }} de Caja
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        {% if cashTransactions %}
            <div class="col-md-12">
                <h3>Transacciones Registradas en el Turno</h3>
                <hr>

                <table id="transactionTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>usuario</th>
                            <th>Monto</th>
                            <th>Tipo Transaccion</th>
                            <th>Descripción</th>
                            <th>Fecha Transacción</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for cashTransaction in cashTransactions %}
                            <tr>
                                <td>{{ cashTransaction.user.name }}</td>
                                <td>${{ cashTransaction.payment }}</td>
                                <td>{{ cashTransaction.typeTransaction.name }}</td>
                                <td>{{ cashTransaction.description }}</td>
                                <td>{{ cashTransaction.createdAtString }}</td>
                            </tr>
                        {% endfor %}       
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        $(document).ready(function () {
            $('span.number').number( true );
            $("#transactionTable").DataTable();
            //$("#lavasecobundle_cashtransaction_payment").number(true);
        });


        {% if editObservations == "1" %}
            $( "#lavasecobundle_cashtransaction_description" ).prop( "disabled", false );
        {% endif%}
        
        $("#openCloseAlert").on('click', function () {
           openModalAlerConfirmation("Confirmación {{ title }} de Caja", "En este momento va a dar {{ title }} a la caja, recuerde que este proceso es irreversible. ¿Realmente desea hacer esta transacción?",
           function (){
               $("#formCahs").submit();
           });
        });
    </script>
{% endblock %}