{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <style>
        .service:hover
        {
            cursor: pointer;
            border-color: #5cb85c;
        }

        .detail_item:hover{
            cursor: pointer;
            background-color: rgba(255, 0, 0, 0.14);
        }

    </style>
{% endblock %} 

{% block body %} 
    <h1>Ventas</h1>
    <hr>
    <div class="row">
        <!--Productos por categoria-->
        <div class="col-md-8">  
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cubes" aria-hidden="true"></i> Servicios</h3>
                </div>  
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    <br>

                    <div class="btn-group text-center" role="group">
                        {% for serviceCategory in serviceCategories %}
                            <button type="button" class="btn btn-default" onClick="getServiceByCategoryId({{ serviceCategory.id }});" >
                                <img src="{{ asset( serviceCategory.img ) }}" style="width: 30px;" /> {{ serviceCategory.name }}
                            </button>
                        {% endfor %}        
                    </div>

                    <hr>
                    <div id="servicesItems">
                        {% for serviceCategory in serviceCategories %}
                            {% for subServiceCagory in serviceCategory.subServiceCategories %}
                                <div class="col-sm-6 col-md-4 service-itm" onclick="itemShowModal(this);"
                                     data-subcategory-id="{{ subServiceCagory.id }}" 
                                     data-subcategory-name="{{ subServiceCagory.name }}"
                                     data-category-name="{{ serviceCategory.name }}">                        
                                    <div class="thumbnail service">                            
                                        <img src="/serviceImg/servicio.jpg" alt="img">                            
                                        <h5 class="text-center">{{ subServiceCagory.name }}</h5>                        
                                    </div>                    
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!--Factura-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i> Factura</h3>
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ billContent.companyName }}</h2>
                    <h4 class="text-center">Nit {{ billContent.fiscalId }}</h4>
                    <h6 class="text-center">{{ billContent.address }}</h6>
                    <hr>
                    <p>
                        Orden: #0325-03-29<br>
                        Cajero: {{ app.user.firstName }} {{ app.user.lastName }}<br>
                        TV:tableta
                    </p>
                    <hr>
                    <p>
                    <div class="well">
                        <input id="clientBill" type="text" class=" form-control" placeholder="Buscar Cliente..." autocomplete="off" />
                    </div>
                    </p>
                    <hr>
                    <p>
                        {{ billContent.head }}
                    </p>
                    <hr>
                    <p>
                    <table style="width: 100%;">
                        <thead>
                            <tr style="border-bottom-style: solid; border-bottom-width: 1px">
                                <th class="text-center">Servicio</th>
                                <th class="text-right">Cantidad</th>
                                <th class="text-right">Precio</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="border-top-style: solid; border-top-width: 1px">
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td id="totalBill" class="text-right"><strong>$0</strong></td>
                            </tr>
                        </tfoot>
                        <tbody id="billDetail">
                        </tbody>
                    </table>
                    </p>
                    <hr>
                    <p> <b> Observaciones </b> </p>
                    <textarea id="bill_observation" name="bill_observation" required="required" class="form-control"></textarea>
                    <hr>
                    <p>
                        {{ billContent.foot }}
                    </p>
                    <button type="button" class="btn btn-success btn-block" onclick="">
                        Facturar
                        <i class="fa fa-check" aria-hidden="true"></i>               
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Window-->  
    <div id="addServiceModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="titleModal" class="modal-title" id="gridSystemModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Service options -->
                        <div class="col-md-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Servicio</label>
                                    <div class="col-md-7">
                                        <select id="servicesSelectImput" onChange="changeImputsDescriptions(this);" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Valor $</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input id="priceServiceImput" type="text" class="form-control text-center" value="">
                                        </div>
                                    </div>
                                </div>  

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Cantidad</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" onclick="quantityServiceChange(false);">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            <input id="quantity_service" type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" onclick="quantityServiceChange(true);">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div id="imputsDescriptions">
                                </div>
                                <hr>
                                <p> <b> Observaciones </b> </p>
                                <textarea id="observationService" required="required" class="form-control"></textarea>
                                <hr>
                                <button type="button" class="btn btn-primary btn-block" onclick="addService()">Agregar <i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- Table Service options -->
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <h5>Servicios a Facturar</h5>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Tipo Servicio</th>
                                            <th>Descripción</th>
                                            <th class="text-right">Cantidad</th>
                                            <th class="text-right">Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    <th class="text-center">Total</th>
                                    <th class="text-center"></th>
                                    <th class="text-right"></th>
                                    <th id="summaryServicesTotal" class="text-right">$0</th>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    </tfoot>
                                    <tbody id="summaryDetail">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="addServicesInBill();">Añadir Factura</button>
                </div>
            </div>
        </div>
    </div>
    <!--end Modal Window-->  

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/bootstrap-typeahead.js") }}"></script>

    <script>
        var factrua = {};
        var summaryServices = {};

        $(document).ready(function () {
            factrua["total"] = 0;

            $("#quantity_service").number(true);
            $("#priceServiceImput").number(true);

            //Evento cerrar ventana modal
            $('#addServiceModal').on('hidden.bs.modal', function (e) {
                clearServicesFormImput();
            })
        });
//Functions////////////////////////////////////////////////////////        
        function itemShowModal(item) {
            var subCategoryId = $(item).data("subcategoryId");
            var categories = $(item).data("categoryName") + ", " + $(item).data("subcategoryName");
            $("#titleModal").html("Agregar " + categories);

            addServicesSelectImput(subCategoryId);

            summaryServices["total"] = 0;
            summaryServices["services"] = [];
            summaryServices["categories"] = categories;
        }

        function changeImputsDescriptions(selectServiceCategory) {
            addImputsDescriptions($(selectServiceCategory).val());
        }

        function addImputsDescriptions(serviceCategoryId) {
            $.ajax({
                url: "{{ path('lavaseco_api_service_descriptions') }}/" + serviceCategoryId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (services) {
                    var decriptions = services.decriptions;

                    $("#imputsDescriptions").empty();
                    $("#priceServiceImput").val(services.service.price);

                    for (var desc in decriptions) {
                        addImputsDescription(decriptions[desc], decriptions.indexOf(decriptions[desc]));
                    }
                }
            });
        }

        function addImputsDescription(description, idDescription) {
            var options = description.options;
            var html = "<div class=\"form-group\">\
                            <label class=\"control-label col-md-5\">" + description.name + "</label>\
                            <div class=\"col-md-7\">\
                                <select id=\"description_" + idDescription + "\" class=\"form-control imputDescription\">\
                                    <option data-id=\"0\" data-name=\"\" value=\"0\">seleccione una opción ....</option>";
            for (var key in options)
                html += "<option value=\"" + options[key].name + "\" data-id=\"" + options[key].id + "\" data-name=\"" + options[key].name + "\" >" + options[key].name + "</option>"
            html += "</select></div></div>";
            $("#imputsDescriptions").append(html);
        }

        //Id category 2do nivel
        function addServicesSelectImput(categoryId) {
            $.ajax({
                url: "{{ path('lavaseco_api_service_category') }}/" + categoryId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (servicesCategories) {
                    if (!servicesCategories.length) {
                        alert("Servicios no Disponibles");
                        return;
                    }

                    $('#addServiceModal').modal('show');
                    addImputsDescriptions(servicesCategories[0].id);

                    $("#servicesSelectImput").empty();
                    for (var key in servicesCategories) {
                        var serviceCategory = servicesCategories[key];
                        addOptionsServicesSelectImput(serviceCategory);
                    }
                }
            });
        }

        function addOptionsServicesSelectImput(service) {
            var html = "<option value=\"" + service.name + "\" data-id=\"" + service.id + "\" data-name=\"" + service.name + "\">" + service.name + "</option>"
            $("#servicesSelectImput").append(html);
        }

        function addService() {
            var serviceDetail = {};
            var price = parseInt($("#priceServiceImput").val());
            var quantity = parseInt($("#quantity_service").val());

            serviceDetail["id"] = $("#servicesSelectImput").find(':selected').data('id');
            serviceDetail["service"] = $("#servicesSelectImput").find(':selected').data('name');
            serviceDetail["price"] = price;
            serviceDetail["quantity"] = quantity;
            serviceDetail["total"] = $.number(price * quantity);
            serviceDetail["descriptors"] = getDescriptors();
            serviceDetail["observations"] = $("#observationService").val();
            serviceDetail["idSummaryService"] = summaryServices["services"].length;

            summaryServices.total += price * quantity;
            summaryServices["services"].push(serviceDetail);

            addRowTable(serviceDetail);

            $("#summaryServicesTotal").html("$" + $.number(summaryServices.total));
            $("#quantity_service").val(1);
            $("#observationService").val("");
            $("#imputsDescriptions").empty();

            addImputsDescriptions(serviceDetail.id);
        }

        function getDescriptors() {
            var descriptors = [];
            $(".imputDescription").each(function (index) {
                var id = parseInt($(this).find(':selected').data('id'));

                if (id !== 0) {
                    descriptors.push({
                        "id": id,
                        "name": $(this).find(':selected').data('name')
                    });
                }
            });
            return descriptors;
        }

        function addRowTable(summaryService) {
            $("#summaryDetail").append(
                    "<tr class=\"detail_item\" data-service-id=\"" + summaryService.id + "\">\
                        <td>" + summaryService.service + "</td>\
                        <td>" + getDescriptionsToString(summaryService.descriptors) + "<p>" + summaryService.observations + "</td>\
                        <td class=\"text-right\">" + summaryService.quantity + "</td>\
                        <td class=\"text-right\">$" + summaryService.total + "</td>\
                        <td>\
                            <div class=\"btn-group btn-group-xs\" role=\"group\">\
                                <button type='button' onclick=\"editServiceSummary(" + summaryService.idSummaryService + ")\" class='btn btn-primary'>Editar</button>\
                                <button type='button' onclick=\"deleteServiceSummary(" + summaryService.idSummaryService + ")\" class='btn btn-danger'>Eliminar</button>\
                            </div>\
                        </td>\
                    </tr>");
        }

        function editServiceSummary(idService) {
            for (var i in summaryServices.services) {
                if (summaryServices.services[i].idSummaryService == idService) {
                    $("#priceServiceImput").val(summaryServices.services[i].price);
                    $("#quantity_service").val(summaryServices.services[i].quantity);
                    $("#observationService").val(summaryServices.services[i].observations);
                    $("#servicesSelectImput").val(summaryServices.services[i].service);


                    for (var j in summaryServices.services[i].descriptors) {
                        var index = summaryServices.services[i].descriptors.indexOf(summaryServices.services[i].descriptors[j]);
                        $("#description_" + index).val(summaryServices.services[i].descriptors[j].name)
                    }

                    var indice = summaryServices.services.indexOf(summaryServices.services[i]); // obtenemos el indice
                    deleteServiceSummary(indice);
                }
            }
        }

        function deleteServiceSummary(idService) {
            summaryServices.services.splice(idService, 1); // 1 es la cantidad de elemento a eliminar
            console.log(summaryServices.services);
            $("#summaryDetail").empty();
            if (summaryServices.services.length > 0) {
                for (i in summaryServices.services) {
                    addRowTable(summaryServices.services[i]);
                }
            }
        }


        $(".btn-eliminar").on('click', function () {

        });

        function getDescriptionsToString(descriptors) {
            var descriptorsResutl = [];
            for (var key in descriptors) {
                descriptorsResutl.push(descriptors[key].name);
            }
            return descriptorsResutl.toString();
        }

        function quantityServiceChange(add) {
            var quantity = parseInt($("#quantity_service").val());
            if (add) {
                quantity++;
            } else {
                if (quantity <= 1) {
                    quantity = 1;
                } else {
                    quantity--;
                }
            }
            $("#quantity_service").val(quantity);
        }

        function clearServicesFormImput() {
            summaryServices.total = 0;
            summaryServices["services"] = [];

            $("#summaryDetail").empty();
            $("#servicesSelectImput").empty();
            $("#imputsDescriptions").empty();

            $("#quantity_service").val(1);
            $("#summaryServicesTotal").html("$0");
            $("#observationService").val("");
        }

        function addToBillSummaryServices() {
            var html =
                    "<tr style=\"border-bottom-style: solid; border-bottom-width: 2px\">\
                        <td colspan=\"3\">" + summaryServices.categories + "</td>\
                    </tr>";

            for (var i in summaryServices.services) {
                html +=
                        "<tr>\
                                <td>" + summaryServices.services[i].service + "</td>\
                                <td class=\"text-right\">" + summaryServices.services[i].quantity + "</td>\
                                <td class=\"text-right\">$" + $.number(summaryServices.services[i].total) + "</td>\
                            </tr>\
                            <tr>\
                                <td colspan=\"3\">" + getDescriptionsToString(summaryServices.services[i].descriptors) + "</td>\
                            </tr>";
            }
            $("#billDetail").append(html);
        }

        function addServicesInBill() {
            if (summaryServices.total !== 0) {
                factrua.total += summaryServices.total;
                addToBillSummaryServices();

                $("#totalBill").html("<strong>$" + $.number(factrua.total) + "</strong>");
            }
            $('#addServiceModal').modal('hide');

        }

        function displayResult(item) {
            $('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
        }

        $('#clientBill').typeahead({
            /*source: [
             {ID: 1, Name: 'Toronto'},
             {ID: 2, Name: 'Montreal'},
             {ID: 3, Name: 'New York'},
             {ID: 4, Name: 'Buffalo'},
             {ID: 5, Name: 'Boston'},
             {ID: 6, Name: 'Columbus'},
             {ID: 7, Name: 'Dallas'},
             {ID: 8, Name: 'Vancouver'},
             {ID: 9, Name: 'Seattle'},
             {ID: 10, Name: 'Los Angeles'}
             ],
             displayField: 'Name',
             valueField: 'ID',
             onSelect: displayResult*/
            onSelect: function (item) {
                console.log(item);
            },
            ajax: {
                url: "{{ path('lavaseco_api_search_user') }}",
                timeout: 500,
                displayField: "title",
                triggerLength: 1,
                method: "POST",
                loadingClass: "loading-circle",
                preDispatch: function (query) {
                    return {
                        search: query
                    }
                },
                preProcess: function (data) {
                    if (data.success === false) {
                        // Hide the list, there was some error
                        return false;
                    }
                    // We good!
                    return data.mylist;
                }
            }
            /*ajax: {
             url: "{{ path('lavaseco_api_search_user') }}",
             method: "POST",
             dataType: "json",
             triggerLength: 1,
             response: function (result) {
             this.responseText =result;
             }
             },
             onSelect: displayResult*/
        });

    </script>
{% endblock %}

