{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <style>
        .service:hover
        {
            cursor: pointer;
            border-color: #5cb85c;
        }

        .detail_item:hover{
            cursor: pointer;
            background-color: rgba(255, 0, 0, 0.14);
        }
    </style>
{% endblock %} 

{% block body %} 
    <h1>Ventas</h1>
    <hr>
    <div class="row">
        <!--Productos por categoria-->
        <div class="col-md-8">  
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cubes" aria-hidden="true"></i> Servicios</h3>
                </div>  
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    <br>

                    <div class="btn-group text-center" role="group">
                        {% for serviceCategory in serviceCategories %}
                            <button type="button" class="btn btn-default" onClick="getServiceByCategoryId({{ serviceCategory.id }});" >
                                <img src="{{ asset( serviceCategory.img ) }}" style="width: 30px;" /> {{ serviceCategory.name }}
                            </button>
                        {% endfor %}        
                    </div>

                    <hr>
                    <div id="servicesItems">
                        {% for serviceCategory in serviceCategories %}
                            {% for subServiceCagory in serviceCategory.subServiceCategories %}
                                <div class="col-sm-6 col-md-4 service-itm" onclick="itemShowModal(this);"
                                     data-subcategory-id="{{ subServiceCagory.id }}" 
                                     data-subcategory-name="{{ subServiceCagory.name }}">                        
                                    <div class="thumbnail service">                            
                                        <img src="/serviceImg/servicio.jpg" alt="img">                            
                                        <h5 class="text-center">{{ subServiceCagory.name }}</h5>                        
                                    </div>                    
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!--Factura-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i> Factura</h3>
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ billContent.companyName }}</h2>
                    <h4 class="text-center">Nit {{ billContent.fiscalId }}</h4>
                    <h6 class="text-center">{{ billContent.address }}</h6>
                    <hr>
                    <p>
                        Orden: #0325-03-29<br>
                        Cajero: {{ app.user.firstName }} {{ app.user.lastName }}<br>
                        TV:tableta
                    </p>
                    <hr>
                    <p>
                        {{ billContent.head }}
                    </p>
                    <hr>
                    <p>
                    <table style="width: 100%;">
                        <thead>
                            <tr style="border-bottom-style: solid; border-bottom-width: 1px">
                                <th class="text-center">Servicio</th>
                                <th class="text-right">Cantidad</th>
                                <th class="text-right">Precio</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="border-top-style: solid; border-top-width: 1px">
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td id="totalBill" class="text-right"><strong>$0</strong></td>
                            </tr>
                        </tfoot>
                        <tbody id="billDetail">
                        </tbody>
                    </table>
                    </p>
                    <hr>
                    <p>
                        {{ billContent.foot }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Window-->  
    <div id="addServiceModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="titleModal" class="modal-title" id="gridSystemModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Service options -->
                        <div class="col-md-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Servicio</label>
                                    <div class="col-md-7">
                                        <select id="servicesSelectImput" onChange="addImputsDescriptions(this);" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Valor $</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input id="priceServiceImput" type="text" class="form-control text-center" value="">
                                        </div>
                                    </div>
                                </div>  

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Cantidad</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>  
                                <hr>
                                <div id="imputsDescriptions">

                                </div>
                                <button type="button" class="btn btn-primary btn-block" onclick="addService()">Agregar <i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- Table Service options -->
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <h5>Servicios a Facturar</h5>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Tipo Servicio</th>
                                            <th class="text-center">Descripción</th>
                                            <th class="text-right">Cantidad</th>
                                            <th class="text-right">Precio</th>
                                            <th class="text-center"></th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    <th class="text-center">Total</th>
                                    <th class="text-center"></th>
                                    <th class="text-right"></th>
                                    <th class="text-right">$$$$$</th>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    </tfoot>
                                    <tbody id="summaryDetail">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {#                    
                                        <div class="input-group">
                                            <div class="col-md-4">
                                                <!-- Combo Box Services -->
                                                
                    
                                                <!-- special categories by services-->
                                                <div id="services_category"></div>
                                                <div id="quantity_services_category"></div>
                                                <div id="price_services_category"></div>
                    
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4 class="modal-title" id="gridSystemModalLabel"> Tabla Resumen</h4>
                                            <div id="summary_services_category">
                                                <table style="width: 100%;">
                                                    <thead>
                                                        <tr style="border-bottom-style: solid; border-bottom-width: 1px">
                                                            <th class="text-center">Tipo Servicio</th>
                                                            <th class="text-center">Descripción</th>
                                                            <th class="text-right">Cantidad</th>
                                                            <th class="text-right">Precio</th>
                                                            <th class="text-center"></th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="summaryDetail">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr>
                                        <p id="costoUnitarioModal"></p>
                                        <p id="costoTotalModal"></p>#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="addServicesInBill();">Facturar</button>
                </div>
            </div>
        </div>
    </div>
    <!--end Modal Window-->  

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>

    <script>

        $(document).ready(function () {
            $("#priceServiceImput").number(true);


            //Evento cerrar ventana modal
            $('#addServiceModal').on('hidden.bs.modal', function (e) {
                clearServicesFormImput();
            })
        });
//Functions////////////////////////////////////////////////////////        
        function itemShowModal(item) {
            var serviceName = $(item).data("subcategoryName");
            var subCategoryId = $(item).data("subcategoryId");
            $("#titleModal").html("Agregar " + serviceName);

            addServicesSelectImput(subCategoryId);
            $('#addServiceModal').modal('show');

        }

        function addImputsDescriptions(idService) {
            //ajax

            //success ajax
            var result = {
                "service":
                        {
                            "name": "Nombre servicio",
                            "price": "8000"
                        },
                "decriptions":
                        [
                            {
                                "name": "Color",
                                "options":
                                        [
                                            {"id": 1, "name": "Rojo"},
                                            {"id": 2, "name": "Amarillo"},
                                            {"id": 3, "name": "Azul"},
                                            {"id": 4, "name": "Violeta"}
                                        ]
                            },
                            {
                                "name": "Estado",
                                "options":
                                        [
                                            {"id": 1, "name": "Bueno"},
                                            {"id": 2, "name": "Desgastado"},
                                            {"id": 4, "name": "Dañado"}
                                        ]
                            }
                        ]
            };
            //omitir resutl " success: function(resutl){ .."
            var decriptions = result.decriptions;

            $("#imputsDescriptions").empty();
            $("#priceServiceImput").val(result.service.price);

            for (var desc in decriptions) {
                addImputsDescription(decriptions[desc]);
            }
        }

        function addImputsDescription(description) {
            var options = description.options;
            var html = "<div class=\"form-group\">\
                            <label class=\"control-label col-md-5\">" + description.name + "</label>\
                            <div class=\"col-md-7\">\
                                <select class=\"form-control\">\
                                    <option value=\"0\">seleccione una opción ....</option>";
            for (var key in options)
                html += "<option value=\"" + options[key].id + "\">" + options[key].name + "</option>"
            html += "</select></div></div>";
            $("#imputsDescriptions").append(html);
        }

        //Id category 2do nivel
        function addServicesSelectImput(categoryId) {

            //ajax

            //success ajax
            var result = [
                {"id": 1, "name": "Camisa"},
                {"id": 2, "name": "Pantalon"},
                {"id": 3, "name": "Camiseta"},
                {"id": 4, "name": "Chaqueta"}
            ];
            //omitir resutl " success: function(resutl){ .."

            addImputsDescriptions(result[0].id);

            $("#servicesSelectImput").empty();
            for (var key in result) {
                var service = result[key];
                addOptionsServicesSelectImput(service);
            }
        }

        function addOptionsServicesSelectImput(service) {
            var html = "<option value=\"" + service.id + "\">" + service.name + "</option>"
            $("#servicesSelectImput").append(html);
        }

        function addService() {
            addRowTable("summaryService");
            clearServicesFormImput();
        }

        function addRowTable(summaryService) {
            $("#summaryDetail").append(
                    "<tr class=\"detail_item\" data-service-id=\" + summaryService.id + \">\
                        <td>summaryService.serviceName</td>\
                        <td>summaryService.description</td>\
                        <td class=\"text-left\">summaryService.cantidad</td>\
                        <td class=\"text-left\"> $summaryService.precio</td>\
                        <td>\
                            <div class=\"btn-group btn-group-xs\" role=\"group\">\
                                <button type='button' class='btn btn-primary' onclick='editItemServiceCategory( + serviceId + );'>Editar</button>\
                                <button type='button' class='btn btn-danger' onclick='deleteItemServiceCategory( + summaryService.id + );'>Eliminar</button>\
                            </div>\
                        </td>\
                    </tr>");
        }

        function clearServicesFormImput() {}

        function addServicesInBill() {}
        {#        var bill = [];
                var summaryService = [];
                var serviceName = "";
                var serviceCategoryName = "";

                var totalBill = 0;
                var serviceId = 0;
                var servicePrice = 0;
                var quantity = 0;

                function resetVariables() {
                    serviceId = 0;
                    servicePrice = 0;
                    serviceCategoryName = "";
                    quantity = 0;

                    $("#opc_services").val(0);
                    $("#services_category").html("");
                    $("#quantity_services_category").html("");  
                    $("#price_services_category").html("");

                    $("#costoUnitarioModal").html("<strong>Precio unitario: </strong> $" + $.number(0));
                    $("#costoTotalModal").html("<strong>Precio Total: </strong> $" + $.number(0));
                }

                function cancel() {
                    resetVariables();
                    summaryService = [];
                    $("#summaryDetail").html("");
                }

                function changeService() {
                    servicePrice = $(".service-itm").data("servicePrice");
                    serviceCategoryName = $("#opc_services").val();
                    if (serviceCategoryName === "Camisa") {
                        $("#services_category").html("<strong>Color: </strong> \n\
                                                       <select id='color_service' size=1>\n\
                                                            <option value='0'>seleccione una opción ....</option>\n\
                                                            <option value='Rojo'>Rojo</option>\n\
                                                            <option value='Amarillo'>Amarillo</option>\n\
                                                            <option value='Azul'>Azul</option>\n\
                                                            <option value='Violeta'>Violeta</option>\n\
                                                       </select> <p/>\n\
                                                    <strong>Estado: </strong> \n\
                                                       <select id='estado_service' size=1>\n\
                                                            <option value='0'>seleccione una opción ....</option>\n\
                                                            <option value='Dañado'>Dañado</option>\n\
                                                            <option value='Desgastado'>Desgastado</option>\n\
                                                            <option value='Bueno'>Bueno</option>\n\
                                                       </select> <p/>");
                    }
                    $("#quantity_services_category").html("<strong>Cantidad:</strong>\
                                                           <span class='input-group-btn'>\
                                                                <button class='btn btn-success' type='button' onclick='quantityModal(false)'>\
                                                                    <i class='fa fa-minus' aria-hidden='true'></i>\
                                                                </button>\
                                                           </span><input id='quantityModal' type='text' class='form-control text-center' value='1'><span class='input-group-btn'>\
                                                                <button class='btn btn-success' type='button' onclick='quantityModal(true);'>\
                                                                    <i class='fa fa-plus' aria-hidden='true'></i>\
                                                                </button>\
                                                            </span></p>");
                    $("#price_services_category").html("<strong>Precio:</strong> <input type='number' id='price_service' value='" + servicePrice + "' onchange='updatePrice()'> <p/>");
                    $("#costoUnitarioModal").html("<strong>Precio unitario: </strong> $" + $.number(servicePrice));
                    $("#costoTotalModal").html("<strong>Precio Total: </strong> $" + $.number(servicePrice));
                }

                function addSummaryServices() {
                    summaryService.push([serviceId, serviceName, serviceCategoryName, quantity, servicePrice]);
                    drawTableSummaryService();
                    serviceId++;
                    resetVariables();
                }

                function drawTableSummaryService() {
                    $("#summaryDetail").html("");
                    for (var i = 0; i < summaryService.length; i++) {
                        $("#summaryDetail").append("<tr class=\"detail_item\" data-service-id=\"" + summaryService[i][0] + "\">\
                                                <td>" + summaryService[i][2] + "</td>\
                                                <td class=\"text-right\">" + summaryService[i][3] + "</td>\
                                                <td class=\"text-right\">$" + summaryService[i][4] + "</td>\
                                                <td class=\"text-center\"> <button type='button' class='btn btn-info' onclick='editItemServiceCategory(" + serviceId + ");'>Editar</button></td>\
                                                <td class=\"text-center\"> <button type='button' class='btn btn-danger' onclick='deleteItemServiceCategory(" + serviceId + ");'>Eliminar</button></td>\
                                            </tr>");
                    }
                }

                function editItemServiceCategory(itemService) {
                    for (var i = 0; i < summaryService.length; i++) {
                        if (summaryService[i][0] == itemService) {
                            $("#opc_services").val(summaryService[i][2]);
                            $("#quantity_services_category").html("<strong>Cantidad:</strong>\
                                                           <span class='input-group-btn'>\
                                                                <button class='btn btn-success' type='button' onclick='quantityModal(false)'>\
                                                                    <i class='fa fa-minus' aria-hidden='true'></i>\
                                                                </button>\
                                                           </span><input id='quantityModal' type='text' class='form-control text-center' value='" + summaryService[i][3] + "'><span class='input-group-btn'>\
                                                                <button class='btn btn-success' type='button' onclick='quantityModal(true);'>\
                                                                    <i class='fa fa-plus' aria-hidden='true'></i>\
                                                                </button>\
                                                            </span></p>");
                            $("#price_services_category").html("<strong>Precio:</strong> <input type='number' id='price_service' value='" + summaryService[i][4] + "' onchange='updatePrice()'> <p/>");

                        }
                    }

                }

                function deleteItemServiceCategory(itemService) {
                    for (var i = 0; i < summaryService.length; i++) {
                        if (summaryService[i][0] == itemService) {
                            summaryService.splice(summaryService[i][0], 1);
                        }
                    }
                    drawTableSummaryService();
                }

                function updatePrice() {
                    servicePrice = $("#price_service").val();
                    $("#costoUnitarioModal").html("<strong>Precio unitario: </strong> $" + $.number(servicePrice));
                    $("#costoTotalModal").html("<strong>Precio Total: </strong> $" + $.number(servicePrice * quantity));
                }

                function quantityModal(add) {
                    quantity = parseInt($("#quantityModal").val());
                    if (add) {
                        quantity++;
                    } else {
                        if (quantity <= 1) {
                            quantity = 1;
                        } else {
                            quantity--;
                        }
                    }
                    $("#quantityModal").val(quantity);
                    $("#costoTotalModal").html("<strong>Precio Total: </strong> $" + $.number(servicePrice * quantity));
                }

                function addService() {
                    if (summaryService.length > 0) {
                        for (var i = 0; i < summaryService.length; i++) {
                            bill.push(summaryService[i]);
                            $("#billDetail").append("<tr class=\"detail_item\" data-service-id=\"" + summaryService[i][0] + "\">\
                                                <td>" + summaryService[i][1] + "</td>\
                                                <td class=\"text-right\">" + summaryService[i][3] + "</td>\
                                                <td class=\"text-right\">$" + $.number(summaryService[i][4] * summaryService[i][3]) + "</td>\
                                            </tr>");
                            totalBill += parseInt(summaryService[i][4]) * parseInt(summaryService[i][3]);
                        }
                        $("#totalBill").html("<strong>$" + $.number(totalBill) + "</strong>");
                        $('#serviceQuantity').modal('hide');

                        resetVariables();
                        summaryService = [];
                        $("#summaryDetail").html("");
                    }
                }

                function getServiceByCategoryId(categoryId) {
                    $.ajax({
                        url: "{{ path('lavaseco_api_services_by_categoryid') }}/" + categoryId,
                        method: "GET",
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (services) {
                            $("#servicesItems").empty();

                            for (var service in services) {
                                addServiceItem(services[service]);
                            }
                        }});
                }

                function addServiceItem(service) {
                    $("#servicesItems").append(
                            "<div class=\"col-sm-6 col-md-4 service-itm\" \
                                    data-service-id=\"" + service.id + "\" \
                                    data-service-name=\"" + service.name + "\" \
                                    data-service-price=\"" + service.price + "\">\
                                <div class=\"thumbnail service\">\
                                    <img src=\"{{ asset("serviceImg/servicio.jpg") }}\" alt=\"img\">\
                                    <h5 class=\"text-center\">" + service.name + "</h5>\
                                </div>\
                            </div>");
                }

                $(document).ready(function () {
                    $("#quantityModal").number(true);

                    $(".service-itm").click(function () {
                        serviceId = $(this).data("serviceId");
                        serviceName = $(this).data("serviceName");
                        servicePrice = 0;

                        $("#titleModal").html("Agregar " + serviceName);
                        $("#costoUnitarioModal").html("<strong>Precio unitario: </strong> $" + $.number(servicePrice));
                        $("#costoTotalModal").html("<strong>Precio Total: </strong> $" + $.number(servicePrice));
                        $('#serviceQuantity').modal('show');
                    });

                    $("#quantityModal").on("change paste keyup", function () {

                        var quantity = parseInt($("#quantityModal").val());

                        if (quantity <= 0) {
                            $("#quantityModal").val(1);
                        }
                        $("#costoTotalModal").html("<strong>Precio Total: </strong> $" + $.number(servicePrice * quantity));

                    });
                });#}
    </script>
{% endblock %}

