{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <style>
        .service:hover
        {
            cursor: pointer;
            border-color: #5cb85c;
        }

        .detail_item:hover{
            cursor: pointer;
            background-color: rgba(255, 0, 0, 0.14);
        }
    </style>
{% endblock %} 

{% block body %} 
    <h1>Ventas</h1>
    <hr>
    <div class="row">
        <!--Productos por categoria-->
        <div class="col-md-8">  
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cubes" aria-hidden="true"></i> Servicios</h3>
                </div>  
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    <br>

                    <div class="btn-group text-center" role="group">
                        {% for serviceCategory in serviceCategories %}
                            <button type="button" class="btn btn-default" onClick="getServiceByCategoryId({{ serviceCategory.id }});" >
                                <img src="{{ asset( serviceCategory.img ) }}" style="width: 30px;" /> {{ serviceCategory.name }}
                            </button>
                        {% endfor %}        
                    </div>

                    <hr>
                    <div id="servicesItems">
                        {% for serviceCategory in serviceCategories %}
                            {% for subServiceCagory in serviceCategory.subServiceCategories %}
                                <div class="col-sm-6 col-md-4 service-itm" onclick="itemShowModal(this);"
                                     data-subcategory-id="{{ subServiceCagory.id }}" 
                                     data-subcategory-name="{{ subServiceCagory.name }}">                        
                                    <div class="thumbnail service">                            
                                        <img src="/serviceImg/servicio.jpg" alt="img">                            
                                        <h5 class="text-center">{{ subServiceCagory.name }}</h5>                        
                                    </div>                    
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!--Factura-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i> Factura</h3>
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ billContent.companyName }}</h2>
                    <h4 class="text-center">Nit {{ billContent.fiscalId }}</h4>
                    <h6 class="text-center">{{ billContent.address }}</h6>
                    <hr>
                    <p>
                        Orden: #0325-03-29<br>
                        Cajero: {{ app.user.firstName }} {{ app.user.lastName }}<br>
                        TV:tableta
                    </p>
                    <hr>
                    <p>
                        {{ billContent.head }}
                    </p>
                    <hr>
                    <p>
                    <table style="width: 100%;">
                        <thead>
                            <tr style="border-bottom-style: solid; border-bottom-width: 1px">
                                <th class="text-center">Servicio</th>
                                <th class="text-right">Cantidad</th>
                                <th class="text-right">Precio</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="border-top-style: solid; border-top-width: 1px">
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td id="totalBill" class="text-right"><strong>$0</strong></td>
                            </tr>
                        </tfoot>
                        <tbody id="billDetail">
                        </tbody>
                    </table>
                    </p>
                    <hr>
                    <p>
                        {{ billContent.foot }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Window-->  
    <div id="addServiceModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="titleModal" class="modal-title" id="gridSystemModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Service options -->
                        <div class="col-md-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Servicio</label>
                                    <div class="col-md-7">
                                        <select id="servicesSelectImput" onChange="addImputsDescriptions(this);" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Valor $</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input id="priceServiceImput" type="text" class="form-control text-center" value="">
                                        </div>
                                    </div>
                                </div>  

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Cantidad</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" onclick="quantityServiceChange(false);">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            <input id="quantity_service" type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" onclick="quantityServiceChange(true);">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>  
                                <hr>
                                <div id="imputsDescriptions">

                                </div>
                                <button type="button" class="btn btn-primary btn-block" onclick="addService()">Agregar <i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- Table Service options -->
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <h5>Servicios a Facturar</h5>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Tipo Servicio</th>
                                            <th class="text-center">Descripción</th>
                                            <th class="text-right">Cantidad</th>
                                            <th class="text-right">Precio</th>
                                            <th class="text-center"></th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <th class="text-center">Total</th>
                                        <th class="text-center"></th>
                                        <th class="text-right"></th>
                                        <th class="text-right">$0</th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                    </tfoot>
                                    <tbody id="summaryDetail">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="addServicesInBill();">Facturar</button>
                </div>
            </div>
        </div>
    </div>
    <!--end Modal Window-->  

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>

    <script>

        $(document).ready(function () {
            $("#quantity_service").number(true);
            $("#priceServiceImput").number(true);

            //Evento cerrar ventana modal
            $('#addServiceModal').on('hidden.bs.modal', function (e) {
                clearServicesFormImput();
            })
        });
//Functions////////////////////////////////////////////////////////        
        function itemShowModal(item) {
            var serviceName = $(item).data("subcategoryName");
            var subCategoryId = $(item).data("subcategoryId");
            $("#titleModal").html("Agregar " + serviceName);

            addServicesSelectImput(subCategoryId);
            $('#addServiceModal').modal('show');

        }

        function addImputsDescriptions(idService) {
            //ajax

            //success ajax
            var result = {
                "service":
                        {
                            "name": "Nombre servicio",
                            "price": "8000"
                        },
                "decriptions":
                        [
                            {
                                "name": "Color",
                                "options":
                                        [
                                            {"id": 1, "name": "Rojo"},
                                            {"id": 2, "name": "Amarillo"},
                                            {"id": 3, "name": "Azul"},
                                            {"id": 4, "name": "Violeta"}
                                        ]
                            },
                            {
                                "name": "Estado",
                                "options":
                                        [
                                            {"id": 1, "name": "Bueno"},
                                            {"id": 2, "name": "Desgastado"},
                                            {"id": 4, "name": "Dañado"}
                                        ]
                            }
                        ]
            };
            //omitir resutl " success: function(resutl){ .."
            var decriptions = result.decriptions;

            $("#imputsDescriptions").empty();
            $("#priceServiceImput").val(result.service.price);

            for (var desc in decriptions) {
                addImputsDescription(decriptions[desc]);
            }
        }

        function addImputsDescription(description) {
            var options = description.options;
            var html = "<div class=\"form-group\">\
                            <label class=\"control-label col-md-5\">" + description.name + "</label>\
                            <div class=\"col-md-7\">\
                                <select class=\"form-control\">\
                                    <option value=\"0\">seleccione una opción ....</option>";
            for (var key in options)
                html += "<option value=\"" + options[key].id + "\">" + options[key].name + "</option>"
            html += "</select></div></div>";
            $("#imputsDescriptions").append(html);
        }

        //Id category 2do nivel
        function addServicesSelectImput(categoryId) {
            $.ajax({
                url: "{{ path('lavaseco_api_service_category') }}/" + categoryId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (servicesCategories) {
                    addImputsDescriptions(servicesCategories[0].id);

                    $("#servicesSelectImput").empty();
                    for (var key in servicesCategories) {
                        var serviceCategory = servicesCategories[key];
                        addOptionsServicesSelectImput(serviceCategory);
                    }
                }
            });
        }

        function addOptionsServicesSelectImput(service) {
            var html = "<option value=\"" + service.id + "\">" + service.name + "</option>"
            $("#servicesSelectImput").append(html);
        }

        function addService() {
            addRowTable("summaryService");
            clearServicesFormImput();
        }

        function addRowTable(summaryService) {
            $("#summaryDetail").append(
                    "<tr class=\"detail_item\" data-service-id=\" + summaryService.id + \">\
                        <td>summaryService.serviceName</td>\
                        <td>summaryService.description</td>\
                        <td class=\"text-left\">summaryService.cantidad</td>\
                        <td class=\"text-left\"> $summaryService.precio</td>\
                        <td>\
                            <div class=\"btn-group btn-group-xs\" role=\"group\">\
                                <button type='button' class='btn btn-primary' onclick='editItemServiceCategory( + serviceId + );'>Editar</button>\
                                <button type='button' class='btn btn-danger' onclick='deleteItemServiceCategory( + summaryService.id + );'>Eliminar</button>\
                            </div>\
                        </td>\
                    </tr>");
        }

        function quantityServiceChange(add) {
            var quantity = parseInt($("#quantity_service").val());
            if (add) {
                quantity++;
            } else {
                if (quantity <= 1) {
                    quantity = 1;
                } else {
                    quantity--;
                }
            }
            $("#quantity_service").val(quantity);
        {#            $("#totalPrice").html("<strong>Precio Total: </strong> $" + $.number(servicePrice * quantity));#}
            }

            function clearServicesFormImput() {}

            function addServicesInBill() {}
    </script>
{% endblock %}

