{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <style>
        .service:hover
        {
            cursor: pointer;
            border-color: #5cb85c;
        }

        .detail_item:hover{
            cursor: pointer;
            background-color: rgba(255, 0, 0, 0.14);
        }

    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>Ventas</h1>
        </div>
        <div class="col-md-4 text-right">
            <a href="{{ path('lavaseco_cash') }}/1"class="btn btn-warning" type="button" >
                <i class="fa fa-money" aria-hidden="true"></i>
                Retiros de Caja
            </a>
            <a id="closeSalePoint" href="{{ path('lavaseco_cash') }}" class="btn btn-danger">
                <i class="fa fa-lock" aria-hidden="true"></i>
                Cierre de Caja
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <!--Productos por categoria-->
        <div class="col-md-8">
            <h3>Servicios</h3>
            <div class="input-group">
                <input id="servicesSearch" type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            <br>
            <div class="btn-group text-center" role="group">
                {% for serviceCategory in serviceCategories %}
                    <button type="button" class="btn btn-default" onClick="getServiceByCategoryId({{ serviceCategory.id }});" >
                        <img src="{{ asset( serviceCategory.img ) }}" style="width: 30px;" /> {{ serviceCategory.name }}
                    </button>
                {% endfor %}
            </div>
            <hr>
            <div id="servicesItems">
                {% for serviceCategory in serviceCategories %}
                    {% for subServiceCagory in serviceCategory.subServiceCategories %}
                        <div class="col-sm-6 col-md-4 service-itm" onclick="itemShowModal(this);"
                             data-subcategory-id="{{ subServiceCagory.id }}"
                             data-subcategory-name="{{ subServiceCagory.name }}"
                             data-category-name="{{ serviceCategory.name }}">
                            <div class="thumbnail service">
                                <img src="/serviceImg/servicio.jpg" alt="img">
                                <h5 class="text-center">{{ subServiceCagory.name }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <!--Factura-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i> Factura</h3>
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ billContent.companyName }}</h2>
                    <h4 class="text-center">Nit {{ billContent.fiscalId }}</h4>
                    <h6 class="text-center">{{ billContent.address }}</h6>
                    <hr>
                    <p>
                        Orden: #0325-03-29<br>
                        Cajero: {{ app.user.name }}<br>
                        PV: {{ app.session.get('salePoint').name }}
                    </p>
                    <hr>
                    <p>
                    <div class="well input-group">
                        <input id="clientBill" type="text" class="form-control" placeholder="Buscar Cliente..." autocomplete="off" />
                        <span class="input-group-btn">
                            <button id="addClientBill" class="btn btn-secondary" type="button"  onclick="signUpClient();">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div id="infoClientBill" class="form-group"></div>
                    </p>
                    <hr>
                    <p>
                        {{ billContent.head }}
                    </p>
                    <hr>
                    <p>
                    <table style="width: 100%;">
                        <thead>
                            <tr style="border-bottom-style: solid; border-bottom-width: 1px">
                                <th class="text-center">Servicio</th>
                                <th class="text-right">Cantidad</th>
                                <th class="text-right">Precio</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="border-top-style: solid; border-top-width: 1px">
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td id="totalBill" class="text-right"><strong>$0</strong></td>
                            </tr>
                        </tfoot>
                        <tbody id="billDetail">
                        </tbody>
                    </table>
                    <hr>
                    <div class="form-group">
                        <label for="sel1">Acuerdo de Pago</label>
                        <select class="form-control" id="bill_payAgreement">
                            {% for paymentAgreement in paymentAgreements %}
                                <option value="{{ paymentAgreement.id }}" data-name="{{ paymentAgreement.name }}">{{ paymentAgreement.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p> <b> Observaciones </b> </p>
                    <textarea id="bill_observation" name="bill_observation" required="required" class="form-control"></textarea>
                    <hr>
                    <p>
                        {{ billContent.foot }}
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="checkboxes-1">Factura:</label>
                        <div class="col-md-7">
                            <div id="checkboxBill" class="checkbox">
                                <label for="checkboxes-1">
                                    <input  id="printBill" type="checkbox" value="imprimir">
                                    Imprimir
                                </label>
                                <label for="checkboxes-1">
                                    <input id="sendBill"  type="checkbox" value="correo" disabled="true">
                                    Enviar al correo
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="" class="form-group">
                        <label id="titleNotify" class="col-md-4 control-label" for="checkboxes"></label>
                        <div class="col-md-7">
                            <div id="checkboxNotifyEmail" class="checkbox">
                                
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block" onclick="wayToPay();">
                        Facturar
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Window-->
    <div id="addServiceModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="titleModal" class="modal-title" id="gridSystemModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Service options -->
                        <div class="col-md-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Servicio</label>
                                    <div class="col-md-7">
                                        <select id="servicesSelectImput" onChange="changeImputsDescriptions(this);" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Valor $</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input id="priceServiceImput" type="text" class="form-control text-center" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label id="name_service" class="control-label col-md-5">Cantidad</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" onclick="quantityServiceChange(false);">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            <input id="quantity_service" type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" onclick="quantityServiceChange(true);">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div id="imputsDescriptions">
                                </div>
                                <hr>
                                <p> <b> Observaciones </b> </p>
                                <textarea id="observationService" required="required" class="form-control"></textarea>
                                <hr>
                                <button type="button" class="btn btn-primary btn-block" onclick="addService();">Agregar <i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- Table Service options -->
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <h5>Servicios a Facturar</h5>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Tipo Servicio</th>
                                            <th>Descripción</th>
                                            <th class="text-right">Cantidad</th>
                                            <th class="text-right">Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    <th class="text-center">Total</th>
                                    <th class="text-center"></th>
                                    <th class="text-right"></th>
                                    <th id="summaryServicesTotal" class="text-right">$0</th>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    </tfoot>
                                    <tbody id="summaryDetail">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="addServicesInBill();">Añadir Factura</button>
                </div>
            </div>
        </div>
    </div>
    <!--end Modal Window-->

    <!-- Modal -->
    <div id="modalSignUpClient" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registro de Clientes</h4>
                </div>
                <div class="modal-body">
                    {% include 'LavasecoBundle:BootsTrap:Settings/Customer/customerForm.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="wayToPay" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <label id="paymentTittle"></label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <p>Forma de Pago</p>
                                <div class="input-group" id="specificWayPay">
                                    <select id="selectWayToPay" onChange="" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <hr>

                            <div class="form-group">
                                <div id="divTotalBill"></div>
                            </div>

                            <div class="form-group">
                                <p>Dinero Recibido<span class="req">*</span></p>
                                <div class="input-group" id="divCashReceived">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-usd"></i></span>
                                    <input class="form-control" id="cashReceived" type="text" autocomplete="off" onkeyup="updateChange();"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <p>Vueltas</p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-usd"></i></span>
                                    <input class="form-control" id="change" type="text" autocomplete="off" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  onclick="billing();" class="btn btn-success"/>Cobrar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/jquery.number.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("BootsTrapTheme/js/bootstrap-typeahead.min.js") }}"></script>

    <script>
        var factura = {};
        var summaryServices = {};

        $(document).ready(function () {
            factura["total"] = 0;
            factura["services"] = [];
            factura["customerId"] = 0;
            factura["observations"] = "";
            factura["paymentAgreementId"] = 0;
            factura["cashReceived"] = 0;
            factura["change"] = 0;

            $("#quantity_service").number(true);
            $("#priceServiceImput").number(true);
            $("#cashReceived").number(true);
            $("#change").number(true);

            //Evento cerrar ventana modal
            $('#addServiceModal').on('hidden.bs.modal', function (e) {
                clearServicesFormImput();
            });
        });

        $('#clientBill').typeahead({
            order: "asc",
            ajax: {
                url: "{{ path('lavaseco_api_search_customer') }}",
                method: "POST",
                loadingClass: "loading-circle",
                preDispatch: function (query) {
                    return {
                        nameOrEmail: query
                    };
                },
                preProcess: function (data) {
                    if (data.success === false) {
                        return false;
                    }
                    if (data.length === 0) {
                        $("#addClientBill").attr('disabled', false);
                    } else {
                        $("#addClientBill").attr('disabled', true);
                    }
                    return data;
                }
            },

            displayField: "data",
            valueField: "id",
            onSelect: displayResult
        });
        
        $('#servicesSerch').typeahead({
            order: "asc",
            ajax: {
                url: "{{ path('lavaseco_api_sale_service_category') }}",
                method: "POST",
                loadingClass: "loading-circle",
                preDispatch: function (query) {
                    return {
                        nameOrEmail: query
                    };
                },
                preProcess: function (data) {
                    if (data.success === false) {
                        return false;
                    }
                    return data;
                }
            },

            displayField: "data",
            valueField: "id",
            onSelect: displayResult
        });

//Functions////////////////////////////////////////////////////////
        function itemShowModal(item) {
            var subCategoryId = $(item).data("subcategoryId");
            var categories = $(item).data("categoryName") + ", " + $(item).data("subcategoryName");
            $("#titleModal").html("Agregar " + categories);
            addServicesSelectImput(subCategoryId);
            summaryServices["total"] = 0;
            summaryServices["services"] = [];
            summaryServices["categories"] = categories;
        }

        function changeImputsDescriptions(selectServiceCategory) {
            addImputsDescriptions($(selectServiceCategory).find(':selected').data('id'));
        }

        function addImputsDescriptions(serviceCategoryId) {
            $.ajax({
                url: "{{ path('lavaseco_api_service_descriptions') }}/" + serviceCategoryId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (services) {
                    var decriptions = services.decriptions;
                    $("#imputsDescriptions").empty();
                    $("#priceServiceImput").val(services.service.price);
                    for (var desc in decriptions) {
                        addImputsDescription(decriptions[desc], decriptions.indexOf(decriptions[desc]));
                    }
                }
            });
        }

        function addImputsDescription(description, idDescription) {
            var options = description.options;
            var html = "<div class=\"form-group\">\
                            <label class=\"control-label col-md-5\">" + description.name + "</label>\
                            <div class=\"col-md-7\">\
                                <select id=\"description_" + idDescription + "\" class=\"form-control imputDescription\">\
                                    <option data-id=\"0\" data-name=\"\" value=\"0\">seleccione una opción ....</option>";
            for (var key in options)
                html += "<option value=\"" + options[key].name + "\" data-id=\"" + options[key].id + "\" data-name=\"" + options[key].name + "\" >" + options[key].name + "</option>";
            html += "</select></div></div>";
            $("#imputsDescriptions").append(html);
        }

        //Id category 2do nivel
        function addServicesSelectImput(categoryId) {
            $.ajax({
                url: "{{ path('lavaseco_api_sale_service_category') }}/" + categoryId,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (servicesCategories) {
                    if (!servicesCategories.length) {
                        alert("Servicios no Disponibles");
                        return;
                    }

                    $('#addServiceModal').modal('show');
                    addImputsDescriptions(servicesCategories[0].id);
                    $("#servicesSelectImput").empty();
                    for (var key in servicesCategories) {
                        var serviceCategory = servicesCategories[key];
                        addOptionsServicesSelectImput(serviceCategory);
                    }
                }
            });
        }

        function addOptionsServicesSelectImput(service) {
            var html = "<option value=\"" + service.name + "\" data-id=\"" + service.id + "\" data-name=\"" + service.name + "\">" + service.name + "</option>";
            $("#servicesSelectImput").append(html);
        }

        function addService() {
            var serviceDetail = {};
            var price = parseInt($("#priceServiceImput").val());
            var quantity = parseInt($("#quantity_service").val());
            serviceDetail["id"] = $("#servicesSelectImput").find(':selected').data('id');
            serviceDetail["service"] = $("#servicesSelectImput").find(':selected').data('name');
            serviceDetail["price"] = price;
            serviceDetail["quantity"] = quantity;
            serviceDetail["total"] = $.number(price * quantity);
            serviceDetail["descriptors"] = getDescriptors();
            serviceDetail["observations"] = $("#observationService").val();
            serviceDetail["idSummaryService"] = summaryServices["services"].length;
            summaryServices.total += price * quantity;
            summaryServices["services"].push(serviceDetail);
            addRowTable(serviceDetail);
            $("#summaryServicesTotal").html("$" + $.number(summaryServices.total));
            $("#quantity_service").val(1);
            $("#observationService").val("");
            $("#imputsDescriptions").empty();
            addImputsDescriptions(serviceDetail.id);
        }

        function getDescriptors() {
            var descriptors = [];
            $(".imputDescription").each(function (index) {
                var id = parseInt($(this).find(':selected').data('id'));
                if (id !== 0) {
                    descriptors.push({
                        "id": id,
                        "name": $(this).find(':selected').data('name')
                    });
                }
            });
            return descriptors;
        }

        function addRowTable(summaryService) {
            $("#summaryDetail").append(
                    "<tr class=\"detail_item\" data-service-id=\"" + summaryService.id + "\">\
                        <td>" + summaryService.service + "</td>\
                        <td>" + getDescriptionsToString(summaryService.descriptors) + "<p>" + summaryService.observations + "</td>\
                        <td class=\"text-right\">" + summaryService.quantity + "</td>\
                        <td class=\"text-right\">$" + summaryService.total + "</td>\
                        <td>\
                            <div class=\"btn-group btn-group-xs\" role=\"group\">\
                                <button type='button' onclick=\"editServiceSummary(" + summaryService.idSummaryService + ");\" class='btn btn-primary'>Editar</button>\
                                <button type='button' onclick=\"deleteServiceSummary(" + summaryService.idSummaryService + ");\" class='btn btn-danger'>Eliminar</button>\
                            </div>\
                        </td>\
                    </tr>");
        }

        function editServiceSummary(idService) {
            for (var i in summaryServices.services) {
                if (summaryServices.services[i].idSummaryService === idService) {
                    $("#priceServiceImput").val(summaryServices.services[i].price);
                    $("#quantity_service").val(summaryServices.services[i].quantity);
                    $("#observationService").val(summaryServices.services[i].observations);
                    $("#servicesSelectImput").val(summaryServices.services[i].service);
                    for (var j in summaryServices.services[i].descriptors) {
                        var index = summaryServices.services[i].descriptors.indexOf(summaryServices.services[i].descriptors[j]);
                        $("#description_" + index).val(summaryServices.services[i].descriptors[j].name);
                    }

                    var indice = summaryServices.services.indexOf(summaryServices.services[i]); // obtenemos el indice
                    deleteServiceSummary(indice);
                }
            }
        }

        function deleteServiceSummary(idService) {
            summaryServices.total -= parseInt(summaryServices.services[idService].total.replace(",", ""));
            summaryServices.services.splice(idService, 1); // 1 es la cantidad de elemento a eliminar

            $("#summaryDetail").empty();
            $("#summaryServicesTotal").html("$" + $.number(summaryServices.total));

            if (summaryServices.services.length > 0) {
                for (i in summaryServices.services) {
                    addRowTable(summaryServices.services[i]);
                }
            }
        }

        function getDescriptionsToString(descriptors) {
            var descriptorsResutl = [];
            for (var key in descriptors) {
                descriptorsResutl.push(descriptors[key].name);
            }
            return descriptorsResutl.toString();
        }

        function quantityServiceChange(add) {
            var quantity = parseInt($("#quantity_service").val());
            if (add) {
                quantity++;
            } else {
                if (quantity <= 1) {
                    quantity = 1;
                } else {
                    quantity--;
                }
            }
            $("#quantity_service").val(quantity);
        }

        function clearServicesFormImput() {
            summaryServices.total = 0;
            summaryServices["services"] = [];
            $("#summaryDetail").empty();
            $("#servicesSelectImput").empty();
            $("#imputsDescriptions").empty();
            $("#quantity_service").val(1);
            $("#summaryServicesTotal").html("$0");
            $("#observationService").val("");
        }

        function addToBillSummaryServices() {
            var html =
                    "<tr style=\"border-bottom-style: solid; border-bottom-width: 2px\">\
                        <td colspan=\"3\">" + summaryServices.categories + "</td>\
                    </tr>";
            for (var i in summaryServices.services) {
                html +=
                        "<tr>\
                            <td>" + summaryServices.services[i].service + "</td>\
                            <td class=\"text-right\">" + summaryServices.services[i].quantity + "</td>\
                            <td class=\"text-right\">$" + $.number(summaryServices.services[i].total) + "</td>\
                        </tr>\
                        <tr>\
                            <td colspan=\"3\">" + getDescriptionsToString(summaryServices.services[i].descriptors) + "</td>\
                        </tr>\
                        <tr>\
                            <td colspan=\"3\"> <i> Observaciones : " + summaryServices.services[i].observations + "</i></td>\
                        </tr>";
            }
            $("#billDetail").append(html);
        }

        function addServicesInBill() {
            if (summaryServices.total !== 0) {
                factura.total += summaryServices.total;
                for (i in summaryServices.services)
                    factura["services"].push(summaryServices.services[i]);

                addToBillSummaryServices();
                $("#totalBill").html("<strong>$" + $.number(factura.total) + "</strong>");
            }
            $('#addServiceModal').modal('hide');
        }

        function displayResult(item) {
            var html = "<p> <strong> Nombre Cliente: </strong>" + item.text + " <br><strong> </p>";
            $("#infoClientBill").html(html);

            $.ajax({
                url: "{{ path('lavaseco_api_get_customer') }}/" + item.value,
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (user) {
                    var html = "";
                    if (!user) {
                        return;
                    }
                    factura.customerId = user.id;
                    $("#sendBill").attr('disabled', true);
                    $("#checkboxNotifyEmail").html("");

                    html = "<p> <strong> Nombre Cliente: </strong>" + user.name + "<br>";

                    if (user.email !== null) {
                        html += "<strong> Email Cliente: </strong>" + user.email + "<br>";
                        $("#sendBill").attr('disabled', false);
                        notifyByEmail();
                    }
                    if (user.phoneNumber !== null) {
                        html += "<strong> numero: </strong>" + user.phoneNumber + "<br>";
                    }
                    html += "<strong> Puntos Acumulados: </strong>" + user.points + "<br></p>";

                    $("#infoClientBill").empty();
                    $("#infoClientBill").html(html);
                }
            });
        }

        function notifyByEmail() {
            var html = "";
            var result = {"notification":
                        [
                            {"name": "Facturado", "id": 1},
                            {"name": "Listo para Entrega", "id": 2},
                            {"name": "Entregado", "id": 3}
                        ]
            };
            $("#titleNotify").text("Notificar");
            
            for (var i in result.notification) {
                html += "<label for=\"checkboxes-2\">\
                        <input  type=\"checkbox\" id=\"checkboxes-2\" value=\"" + result.notification[i].name + "\">"
                        + result.notification[i].name +
                    "</label>";
            }
            $('#checkboxNotifyEmail').append(html);

        }

        function signUpClient() {
            $('#modalSignUpClient').modal('show');
        }

        function ajaxSaleBill() {
            factura.observations = $("#bill_observation").val();
            factura.paymentAgreementId = $("#bill_payAgreement").val();
            $.ajax({
                url: "{{ path("lavaseco_api_sale_billing") }}",
                method: "POST",
                dataType: "json",
                data: factura,
                success: function (result) {
                    if (result.error !== undefined) {
                        alert("Error al registrar la factura");
                    } else {
                        alert("Facturado con exito");
                        $('#wayToPay').modal('hide');
                        location.reload();
                    }
                }
            });
        }

        function billing() {
            if (factura.customerId === 0) {
                if (!confirm("¿Desea facturar sin seleccionar un cliente?")) {
                    return;
                }
            }
            if (updateChange()) {
                factura.cashReceived = $("#cashReceived").val();
                factura.change = $("#change").val();
                ajaxSaleBill();
            } else {
                alert("Verifique el dinero dado por el cliente");
            }
        }

        function wayToPay() {
            var paymentAgreement = $('#bill_payAgreement').val();
            if (paymentAgreement === "2") {//2 es el id del metodo de contra entrega
                factura.cashReceived = 0;
                factura.change = 0;
                ajaxSaleBill();
            } else {
                $('#paymentTittle').text('Cobro ' + $('#bill_payAgreement option:selected').data('name'));
                $('#wayToPay').modal('show');
                $('#divTotalBill').html("<p class='text-right'><strong>Total Factura: $" + $.number(factura.total) + "</strong></p>");
                addWayToPay();
            }

        }

        function loadWayPay(payment) {
            var html = "<option value=\"" + payment.name + "\" data-id=\"" + payment.id + "\" data-name=\"" + payment.name + "\">" + payment.name + "</option>";
            $("#selectWayToPay").append(html);
        }

        function addWayToPay() {
            $("#selectWayToPay").empty();
            $.ajax({
                url: "{{ path('lavaseco_api_pay_method') }}",
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (payMethods) {
                    for (var i in payMethods) {
                        loadWayPay(payMethods[i]);
                    }
                }
            });
        }

        function updateChange() {
            var change = $("#cashReceived").val() - factura.total;
            if (change < 0) {
                $("#change").val('');
                $("#divCashReceived").removeClass("has-success");
                $("#divCashReceived").addClass("has-error");
                return false;
            } else {
                $("#change").val(change);
                $("#divCashReceived").addClass("has-success");
                $("#divCashReceived").removeClass("has-error");
                return true;
            }
        }


    </script>
{% endblock %}

