{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 

    <h1>Punto de Venta</h1>
    <p>
        Descripción de los puntos de venta     
    </p>
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- Form Tipo descriptor-->
            {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="title">Creación Punto de Venta</h3>
                </div>
                <div class="panel-body">
                    <!-- Form Tipo descriptor-->
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_errors(form.branchOffice) }}
                            <label class="col-md-4 control-label" for="textinput">{{ form_label(form.branchOffice, 'Sucursal') }}</label>  
                            <div class="col-md-5">
                                {{ form_widget(form.branchOffice, {'attr': {'class': 'form-control  input-md'} }) }}
                            </div>
                        </div>

                        
                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_errors(form.name) }}
                            <label id="" class="col-md-4 control-label" for="textinput">{{ form_label(form.name, 'Nombre del Punto de Venta') }}</label>  
                            <div class="col-md-5">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control  input-md'} }) }}
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">     
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Guardar
                                </button>                               
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="col-md-12">
            <h3>Puntos de Venta Registrados</h3>
            <hr>
            <table id="salePointTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Sucursal</th>
                        <th>Turno</th>
                        <th>Estado Caja</th>
                        <th>Activo</th>
                        <th>Actualizado</th>
                        <th>Fecha Creacion</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for salePoint in salePoints %}
                        <tr>
                            <td>{{ salePoint.id }}</td>
                            <td>{{ salePoint.name }}</td>
                            <td>{{ salePoint.branchOffice }}</td>
                            <td>{{ salePoint.turn }}</td>
                            <td>{{ salePoint.isOpen }}</td>
                            <td>{{ salePoint.isActive }}</td>
                            <td>{{ salePoint.updateAt }}</td>
                            <td>{{ salePoint.createdAt}}</td>
                            <td><a href="{{ path('lavaseco_setting_sale_point', {'salePointId': salePoint.id}) }}">Editar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12" id="divTableTransactions">
            <h3 id="titleTransaction"></h3>
            <hr>
            <table id="tableTransactions" class="display" cellspacing="0" width="100%">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        $(document).ready(function () {
            var table = $("#salePointTable").DataTable();
        });

        $('#salePointTable tbody').on('click', 'tr', function () {
            $(".selected").toggleClass('selected');
            $(this).toggleClass('selected');
        });

    </script>
{% endblock %}