{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 

    <h1>Caja</h1>
    <p>
        Apertura o Cierre de Caja según el turno    
    </p>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <!-- Form Tipo descriptor-->
            {{ form_start(formSalePointObject, {'attr': {'class': 'form-horizontal'} }) }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="title">Creación Punto de Venta</h3>
                </div>
                <div class="panel-body">
                    <!-- Form Tipo descriptor-->
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_errors(formSalePointObject.name) }}
                            <label id="" class="col-md-4 control-label" for="textinput">{{ form_label(formSalePointObject.name, 'Nombre del Punto de Venta') }}</label>  
                            <div class="col-md-5">
                                {{ form_widget(formSalePointObject.name, {'attr': {'class': 'form-control  input-md'} }) }}
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">     
                                <button class="btn btn-success" type="button">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Guardar
                                </button>                               
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            {{ form_end(formCategoryStateObject) }}
        </div>

        <div class="col-md-12">
            <h3>Puntos de Venta Registrados</h3>
            <hr>

            <table id="transactionTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Teléfono</th>
                        <th>Habilitado</th>
                        <th>Cant de Dispositivos Asociados</th>
                        <th></th>
                        <th>Fecha Apertura</th>
                        <th>Creador</th>
                        
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>Lavaseco App</td>
                        <td>Calle 14 # 2 - 19</td>
                        <td>2111111</td>
                        <td>true</td>
                        <td>2</td>
                        <td></td>
                        <td>02/08/2017</td>
                        <td>Karen Vanessa Angulo</td>
                    </tr>
                      
                    {% for objectSalePoint in objectSalePoints %}
                        <tr>
                            <td>{{ objectSalePoint.name }}</td>
                            <td>{{ objectSalePoint.location }}</td>
                            <td>{{ objectSalePoint.phone }}</td>
                            <td>{{ objectSalePoint.enabled }}</td>
                            <td>{{ objectSalePoint.associatedDevices }}</td>
                            <td>{{ objectSalePoint.creationDate }}</td>
                            <td>{{ objectSalePoint.userCreator }}</td>
                        </tr>
                    {% endfor %}       
                </tbody>
            </table>
        </div>
    </div>

       
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        $(document).ready(function () {
            $("#transactionTable").DataTable();
            
        });
    </script>
{% endblock %}