{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("BootsTrapTheme/css/jquery.dataTables.css") }}">
{% endblock %} 

{% block body %} 

    <h1>Punto de Venta</h1>
    <p>
        Descripción de los puntos de venta     
    </p>
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- Form Tipo descriptor-->
            {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="title">Creación Punto de Venta</h3>
                </div>
                <div class="panel-body">
                    <!-- Form Tipo descriptor-->
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_errors(form.name) }}
                            <label id="" class="col-md-4 control-label" for="textinput">{{ form_label(form.name, 'Nombre del Punto de Venta') }}</label>  
                            <div class="col-md-5">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control  input-md'} }) }}
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">     
                                <button class="btn btn-success" type="button">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Guardar
                                </button>                               
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="col-md-12">
            <h3>Puntos de Venta Registrados</h3>
            <hr>

            <table id="transactionTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Teléfono</th>
                        <th>Habilitado</th>
                        <th>Fecha Apertura</th>
                        <th>Creador</th>

                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>Lavaseco App</td>
                        <td>Calle 14 # 2 - 19</td>
                        <td>2111111</td>
                        <td>true</td>
                        <td>02/08/2017</td>
                        <td>Karen Vanessa Angulo</td>
                    </tr>

                    
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset("BootsTrapTheme/js/jquery.dataTables.js") }}"></script>

    <script>
        $(document).ready(function () {
            var table = $("#transactionTable").DataTable();

            $('#transactionTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                alert('You clicked on ' + data[0] + '\'s row');
            });
        });
    </script>
{% endblock %}